@import '~Assets/_vars.scss';

.mailing {
  background: radial-gradient(
    933.13px at 52.51% 44.14%,
    #fff200 0%,
    #e6ae07 100%
  );
  padding-top: 55px;
  padding-bottom: 47px;
  input[type='text'],
  input[type='email'] {
    font-family: 'FontAwesome', 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 100%;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    background: transparent;
    border: 2px solid $text;
    margin-bottom: 20px;
    &::placeholder {
      color: $text;
    }
    &:focus {
      &::placeholder {
        color: rgba($color: $text, $alpha: 0.5);
      }
    }
  }
  input[type='submit'] {
    float: right;
    width: auto;
    color: #f3d103;
    line-height: 48px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    will-change: color;
    background-color: $text;
    border: 2px solid $text;
    transition: color $tDuration linear, background-color $tDuration linear;
    cursor: pointer;
    &:hover {
      background-color: #f3d103;
      color: $text;
    }
  }
  &__text-wrapper {
    display: flex;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  &__title {
    font-family: $title-font;
    font-size: 47px;
    font-weight: normal;
    line-height: 58px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      font-size: 35px;
    }
    span {
      color: $red;
    }
  }
  &__subtitle {
    font-size: 18px;
  }
  &__form-wrapper {
    display: flex;
  }
  &__form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    form {
      width: 100%;
    }
    span {
      float: left;
      font-size: 14px;
    }
  }
  &__soc-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    font-size: 26px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: none;
    }
    i {
      color: $text;
      will-change: color;
      transition: color $tDuration linear;
      &:hover {
        color: $yellow;
      }
    }
  }
  &__img {
    img {
      height: 264px;
    }
  }
}
@media (max-width: 1259px) {
  .mailing {
    input[type='text'],
    input[type='email'] {
      width: 100%;
      height: 46px;
      line-height: 46px;
      padding: 0 15px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 42px;
      line-height: 48px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__form {
      padding-bottom: 25px;
    }
    &__soc-icons {
      font-size: 21px;
      flex-direction: row;
    }
    &__img {
      img {
        height: 215px;
      }
    }
  }
}
@media (max-width: 767px) {
  .mailing {
    &__text {
      text-align: center;
      align-items: center;
    }
    &__title {
      font-size: 36px;
      line-height: 38px;
    }
    &__form {
      span {
        display: none;
      }
      input[type='submit'] {
        display: block;
        width: 100%;
        float: none;
        font-weight: normal;
      }
    }
    &__img {
      img {
        height: 150px;
      }
    }
  }
}
