.fw-accordion {
  /* border: 1px solid #cecece; */
  border: none;
  clear: both;
}

.fw-accordion .fw-accordion-title {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  padding: 15px 40px;
  background: transparent;
  margin: 0;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #cecece;
  border-top: 0;
}

.fw-accordion .fw-accordion-title:focus {
  outline: medium none;
}

.fw-accordion .fw-accordion-title:first-child {
  border-top: 1px solid #cecece;
}

.fw-accordion .fw-accordion-title.ui-state-active {
  background: none;
}

.fw-accordion .fw-accordion-title .ui-icon {
  background: url('../img/plus-accordion.png') no-repeat;
  position: absolute;
  top: 16px !important;
  left: 15px !important;
  width: 8px;
  height: 8px;
  margin-top: 0 !important;
}

.fw-accordion .fw-accordion-title.ui-state-active .ui-icon {
  background: url('../img/minus-accordion.png') no-repeat;
  top: 20px !important;
}

.fw-accordion .fw-accordion-content {
  padding: 0;
  border-radius: 0;
  border: none;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.fw-accordion .fw-accordion-content > p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.fw-accordion .fw-accordion-content a {
  color: #cca300;
}
.fw-accordion .fw-accordion-content a:hover {
  -webkit-text-decoration-color: #cca300;
  text-decoration-color: #cca300;
}

.fw-accordion .fw-accordion-content p:last-child {
  margin-bottom: 0;
}
