@import '~Assets/_vars.scss';
#rb__instagram {
  .section--instagram {
    padding-bottom: 10px !important;
  }
}
.section--instagram {
  padding-bottom: 0 !important;

  .section__title {
    margin-bottom: 14px;

    &::after {
      left: 46%;
    }
  }

  .section__subtitle {
    font-weight: 300;
  }

  .instagram-username {
    font-size: 36px;
    font-family: $title-font;
    font-weight: normal;
    color: $gold;
    text-decoration: none;

    &:hover {
      color: #a38201;
    }
  }

  .iscwp-gallery-grid.iscwp-image-fit .iscwp-col-5 .iscwp-img-wrp,
  .iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: auto;
  }

  .iscwp-gallery-slider button.slick-arrow {
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 9;
    border: 0px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    margin: -30px 0 0 0 !important;
    top: 50% !important;
    cursor: pointer;
  }

  .iscwp-gallery-slider button.slick-next,
  .iscwp-gallery-slider button.slick-next:hover,
  .iscwp-gallery-slider button.slick-next:focus,
  .iscwp-gallery-slider button.slick-next:active,
  .iscwp-gallery-slider button.slick-prev,
  .iscwp-gallery-slider button.slick-prev:hover,
  .iscwp-gallery-slider button.slick-prev:focus,
  .iscwp-gallery-slider button.slick-prev:active {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
}

@media (max-width: 768px) {
  .section--instagram {
    .instagram-username,
    .section__subtitle,
    .section__title {
      text-align: center;
      display: block;
    }

    .section__title {
      &::after {
        left: 50%;
      }
    }
  }
}

@media (max-width: 550px) {
  .section--instagram {
    .instagram-username {
      font-size: 24px;
    }
  }
}
