.social-icons {
  text-align: right;
  padding: 20px 0 0 0;
}
.social-icons > div {
  display: inline-block;
  padding: 10px 30px;
}
.social-icons div a {
  color: #212121;
  font-size: 20px;
  line-height: 1;
}
.social-icons div a:hover {
  color: #cca300;
  text-decoration: none;
}
.social-icons div a i {
  color: #cca300;
  font-size: 28px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .social-icons {
    text-align: left;
  }
  .social-icons > div {
    display: block;
    padding: 5px 10px;
  }
}

@media (max-width: 445px) {
  .social-icons div a {
    font-size: 16px;
  }
  .social-icons div a i {
    font-size: 20px;
  }
}
