@import '~Assets/_vars.scss';
.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    width: 100%;
    border: 1px solid #dedede;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        a {
          color: $text;
          font-weight: 100;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.is-active {
          a {
            color: $gold;
            font-weight: 400;
          }
          border-bottom: 1px solid #ebebeb;
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    width: 100%;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
    .button {
      border: 2px solid $gold;
      color: $text;
      cursor: pointer;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 38px;
      padding: 0 20px;
      background-color: transparent;
      border-radius: 0;
      text-transform: uppercase;
      transition: all 0.25s;
      will-change: color;
      &:hover,
      &:focus {
        background-color: $gold;
        color: #fff;
      }
      &:active {
        background-color: darken($gold, 2%);
        border-color: darken($gold, 2%);
        color: #fff;
      }
    }
  }
  .woocommerce-Address {
    address {
      background-color: #f7f6f7;
      border-top: 2px solid #cca300;
      color: #515151;
      margin: 0 0 2em;
      padding: 1em 2em 1em 3.5em;
      position: relative;
      &:before {
        content: "\E028";
        display: inline-block;
        font-family: WooCommerce;
        left: 1.5em;
        position: absolute;
        top: 1em;
      }
    }
    .edit {
      text-decoration: underline;
      color: $text;
      margin-bottom: 12px;
      display: inline-block;
      &:hover {
        color: $gold;
      }
    }
  }
}

.select2-dropdown,
.select2-container--default .select2-selection--single {
  border: 1px solid #dedede;
  border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: $gold;
}

.select2-container--default .select2-selection--single {
  line-height: 2;
  color: $text;
  height: auto;
  padding-left: 20px;
}

.select2-search__field {
  line-height: 1.5 !important;
}
.woocommerce form {
  &.checkout_coupon,
  &.login,
  &.register {
    border: 1px solid #dedede;
    padding: 15px;
    margin: 2em 0;
    text-align: left;
    border-radius: 2px;
  }
  .form-row {
    input.input-text {
      background: transparent;
      border: 1px solid #dedede;
      font-family: FontAwesome, Roboto, sans-serif !important;
      font-style: normal;
      font-weight: 400;
      height: auto;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 40px;
      }
      line-height: 2;
      margin-bottom: 20px;
      padding: 0 20px;
      text-decoration: inherit;
      width: 100%;
    } 
  }
  .gfhfghgfdhp {
    display: inline-block !important;
    width: 49% !important;
    vertical-align: top;
  }
}


input#billing_address_2.input-text {
  height: 0px;
  width: 0px;
  padding: 0;
  border: 0;
}

#billing_address_2_field.form-row.form-row-wide.address-field {
  margin: 0px;
  padding: 0px;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #dedede;
}