@import "~Assets/_vars.scss";

.section--image-slider {
  background-color: $text;
  padding: 0 !important;
  height: 549px;
}

.image-slider {
  position: relative;

  &__slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 549px;
  }

  .owl-dots {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1107px) {
  .section--image-slider {
    height: 402px;
  }

  .image-slider {
    &__slide {
      height: 402px;
    }
  }
}

@media (max-width: 445px) {
  .section--image-slider {
    height: 202px;
  }

  .image-slider {
    &__slide {
      height: 202px;
    }
  }
}