@import '~Assets/_vars.scss';

.tablet-header {
  background-color: #000000;
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3006;

  &__wrapper {
    padding: 20px 0;
    font-size: 12px;

    svg {
      font-size: 14px;
    }

    span {
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      transition: color $tDuration;
      color: #fff;

      @include hover-supported() {
        color: $gold;
      }
      &:active {
        color: $gold;
      }
    }
  }

  &__logo {
    img {
      height: 46px;
    }
  }

  &__nav-button {
    span {
      position: relative;
    }

    &.has-badge span:after {
      position: absolute;
      right: -65%;
      top: -70%;
      font-size: 70%;
      content: '!';
      padding: 0.6em;
      border-radius: 999px;
      line-height: 0.75em;
      color: $red;
      background: #fff;
      text-align: center;
      min-width: 2em;
      font-weight: bold;
    }
  }

  &__card-button {
    span {
      position: relative;
    }

    &.has-badge span:after {
      position: absolute;
      right: -65%;
      top: -70%;
      font-size: 70%;
      content: attr(data-count);
      padding: 0.6em;
      border-radius: 50%;
      line-height: 0.75em;
      color: $red;
      background: #fff;
      text-align: center;
      min-width: 2em;
      font-weight: bold;
    }
  }

  .search-bar {
    width: 100%;
    display: none;
    .search-form {
      width: 100%;
      padding: 0 0 15px;
    }
  }
}

@media (min-width: 992px) {
  .tablet-header {
    display: block;
  }

  body #content {
    margin-top: 86px;
  }
}

@media (min-width: 1260px) {
  .tablet-header {
    display: none;
  }

  body #content {
    margin-top: 0px;
  }
}
