@import '~Assets/_vars.scss';

.desktop-header {
  background-color: $darkBG;
  display: none;
  font-weight: 300;

  &__col {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:nth-child(2) {
      width: 20%;
      margin-right: -16px;
    }
  }

  &__wrapper {
    font-size: 16px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      font-size: 18px;
    }

    span {
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      will-change: color;
      transition: color $tDuration;
      color: #fff;

      &:hover {
        color: $gold;
      }
    }
  }

  &__logo {
    img {
      height: 58px;
      margin: 0 auto;
    }
  }

  .dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
    fill: #fff;
  }

  .dgwt-wcas-sf-wrapp input[type='search'].dgwt-wcas-search-input {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    border: 0;
    background: transparent;

    &::placeholder {
      color: #fff;
      font-weight: 300;
      font-style: normal;
    }

    &:focus {
      background: transparent;
      border-bottom: 1px solid $gold;

      &::placeholder {
        color: #d5d5d5;
      }
    }
  }

  .wishlist_products_counter {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;

    .wishlist_products_counter_text {
      margin-right: 5px !important;
    }
  }

  &__map-marker-alt-button {
    width: 100%;
  }

  &__card-button {
    line-height: 1;
    position: absolute;
    right: 0;

    span {
      position: relative;
    }

    .card-count {
      margin-right: 0;
    }

    &.has-badge span:after {
      position: absolute;
      right: -65%;
      top: -70%;
      font-size: 70%;
      content: attr(data-count);
      padding: 0.6em;
      border-radius: 50%;
      line-height: 0.75em;
      color: $red;
      background: #fff;
      text-align: center;
      min-width: 2em;
      font-weight: bold;
    }
  }
}

@media (min-width: 1260px) {
  .desktop-header {
    display: block;
  }
}

// @media (max-width: 1350px) {
//   .desktop-header {
//     // &__wrapper {
//     //   font-size: 12px;

//     //   svg {
//     //     font-size: 14px;
//     //   }
//     // }
//   }
// }
