@import '~Assets/_vars.scss';
.section--promo {
  padding: 0 !important;
}

.promo-slider {
  position: relative;
  &__slide {
    display: block;
    img {
      width: 100% !important;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
