@import '~Assets/_vars.scss';
.woocommerce.tinv-wishlist {
  .tinv-header {
    text-align: center;
  }
  td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  img {
    max-width: 70%;
  }
  h2 {
    font-size: $t-font-size;
    font-family: $title-font;
    line-height: 1;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-bottom: $t-padding-bottom;
    margin-bottom: $t-margin-bottom;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 2px;
      background-color: $gold;
    }
  }
  table {
    a.button.alt,
    button.button.alt,
    input.button.alt,
    .tinvwl-break-input {
      text-align: center;
      text-transform: capitalize;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: 300;
      line-height: 2;
      border-radius: 0;
    }
  }
  #tinvwl_product_actions {
    height: 41px;
    padding: 5px;
  }
  .social-buttons {
    a {
      &:hover {
        text-decoration: none;
        color: darken($gold, 10%);
      }
    }
  }
  .cart-empty {
    border-top: 2px solid #cca300;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    &:before {
      font-family: WooCommerce;
      content: '\e028';
      display: inline-block;
      position: absolute;
      top: 1em;
      left: 1.5em;
    }
  }
  .return-to-shop {
    text-align: center;
    a.button {
      font-size: 1rem;
      padding: 15px 55px;
      border-radius: 0;
    }
  }
  .product-action {
    button.button {
      background-color: #cca300;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 12px;
      line-height: 38px;
      text-transform: uppercase;
      transition: all 0.25s;
      will-change: color;

      &:hover {
        background-color: #b38f00;
      }
    }
  }
  .tinvwl-table-manage-list .tinvwl-to-right.look_in {
    display: none;
  }
}

a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:before,
a.wishlist_products_counter.top_wishlist-heart:before,
span.wishlist_products_counter.top_wishlist-heart:before {
  content: '\f004';
  font-family: 'FontAwesome' !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 17px;
  position: absolute;
  left: -32px;
  bottom: 0;
}

a.wishlist_products_counter.top_wishlist-heart.wishlist-counter-with-products:before,
span.wishlist_products_counter.top_wishlist-heart.wishlist-counter-with-products:before {
  content: '\f004';
  font-weight: 900;
}

@media (max-width: 768px) {
  .tinv-wishlist table.tinvwl-table-manage-list tbody td.product-cb,
  .tinv-wishlist table.tinvwl-table-manage-list tbody td.product-remove {
    display: inline-block !important;
    width: 49.9% !important;
    vertical-align: top !important;
  }
  .tinv-wishlist table.tinvwl-table-manage-list tbody td.product-cb input {
    width: 20px !important;
    height: 26px !important;
    margin-top: 1px;
  }
  .woocommerce.tinv-wishlist img {
    max-width: 23%;
  }
}
