.section--rb-collections {
  padding-bottom: 0 !important;
  .section__title {
    text-align: center !important;
  }
}
.rb-collections {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  &__item {
    width: 19%;
    display: block;
    h6 {
      font-size: 16px;
      font-weight: 400;
      color: #212121;
      text-decoration: none;
      margin-top: 7%;
      text-align: center;
      line-height: 18px;
      @media (max-width: 452px) {
        font-size: 11px;
      }
    }
    &:hover {
      text-decoration: none;
      .rb-collections__overlay {
        opacity: 1;
      }
      h6 {
        color: #cca300;
      }
    }
    @media (max-width: 768px) {
      width: 48%;
      margin-bottom: 2%;
      &:nth-child(3) {
        width: 100%;
        order: 5;
        img {
          width: 50%;
          margin: 0 auto;
        }
        h6 {
          margin-top: 4%;
        }
      }
    }
  }
  &__image {
    outline: 2px solid #cca300;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s;
  }
}
