@import '~Assets/_vars.scss';
.section--rb-grid {
  padding: 0 !important;
}
.rb-grid {
  margin-bottom: 50px;
  @media (max-width: 768px) {
    display: none;
  }
  &__item {
    display: block;
    h6 {
      font-size: 16px;
      font-weight: 400;
      color: #212121;
      text-decoration: none;
      margin-top: 7%;
      text-align: center;
      line-height: 18px;
      margin-bottom: 0;
      @media (max-width: 452px) {
        font-size: 13px;
      }
    }
    p {
      font-family: $title-font;
      font-size: 12px;
      text-align: center;
      color: $text;
      @media (max-width: 452px) {
        font-size: 10px !important;
      }
    }
    &:hover {
      text-decoration: none;
      .rb-grid__overlay {
        opacity: 1;
      }
      h6,
      p {
        color: $gold;
      }
    }
  }
  &__image {
    outline: 2px solid #cca300;
    position: relative;
    img {
      display: block;
      width: 100%;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s;
  }
}
.rb-grid--mobile {
  display: none;
  margin-bottom: 25px;
  @media (max-width: 768px) {
    display: block;
  }
  .rb-grid__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
  }
  .rb-grid__item {
    width: 46%;
  }
  .rb-grid__image {
    img {
      width: 100% !important;
    }
  }
}
