@import '~Assets/_vars.scss';

.brands-product-slider {
  margin-bottom: 50px;
}

.product-slider {
  margin: $slider-margin 0;
  opacity: 1;
  will-change: opacity;
  transition: opacity $tDuration linear;

  &__storage {
    display: none;
  }

  .owl-stage {
    margin: 0 auto;

    .owl-item:last-child {
      margin-right: 0 !important;
    }
  }

  &:not(.owl-loaded) {
    opacity: 0 !important;
    display: block !important;
  }
}

.product-slider-swicher {
  display: flex;
  max-width: 400px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;

  &__item {
    background: none;
    box-shadow: 0;
    border: 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    will-change: color;
    transition: color $tDuration linear;

    &.active,
    &:active,
    &:hover {
      color: $gold;
      border-bottom-color: $gold;
    }
  }
  &__item:first-child {
    color: #ed5413;
  }
}

@media (max-width: 1107px) {
  .product-slider {
    &.owl-theme .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
    }
  }
}

@media (max-width: 768px) {
  .product-slider {
    margin: calc(#{$slider-margin} / 2) 0;

    .product-item {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      border-color: #e6e6e6;
    }
  }
}
