@import '~Assets/_vars.scss';
.section-categories {
  padding: 0 !important;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding-bottom: 15%;
    position: relative;
    display: block;
    will-change: background-color;
    transition: background-color 0.25s linear;
    &--large {
      flex-basis: 40%;
    }
    &--small {
      flex-basis: 20%;
    }
    &:hover {
      .categories__image img {
        transform: scale(1.1);
      }
    }
  }
  &__item:nth-child(1) {
    background-color: #e7f1f4;
    flex-basis: 20%;
    &:hover {
      background-color: darken(#e7f1f4, 5%);
    }
  }
  &__item:nth-child(2) {
    background-color: #f6f6f6;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#f6f6f6, 5%);
    }
  }
  &__item:nth-child(3) {
    background-color: #f2eee6;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#f2eee6, 5%);
    }
  }
  &__item:nth-child(4) {
    background-color: #f2eee6;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#f2eee6, 5%);
    }
  }
  &__item:nth-child(5) {
    background-color: #e7fffe;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#e7fffe, 5%);
    }
  }
  &__item:nth-child(6) {
    background-color: #fcf2fc;
    flex-basis: 20%;
    &:hover {
      background-color: darken(#fcf2fc, 5%);
    }
  }
  &__item:nth-child(7) {
    background-color: #f2f8ff;
    flex-basis: 20%;
    &:hover {
      background-color: darken(#f2f8ff, 5%);
    }
  }
  &__item:nth-child(8) {
    background-color: #fff7ff;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#fff7ff, 5%);
    }
  }
  &__item:nth-child(9) {
    background-color: #fffbf0;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#fffbf0, 5%);
    }
  }
  &__item:nth-child(10) {
    background-color: #ededed;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#ededed, 5%);
    }
  }
  &__item:nth-child(11) {
    background-color: #e7f9ff;
    flex-basis: 40%;
    &:hover {
      background-color: darken(#e7f9ff, 5%);
    }
  }
  &__item:nth-child(12) {
    background-color: #fffad6;
    flex-basis: 20%;
    &:hover {
      background-color: darken(#fffad6, 5%);
    }
  }
  &__name {
    position: absolute;
    font-family: $title-font;
    font-size: 24px;
    top: 17px;
    left: 17px;
    color: #212121;
    margin: 0;
    font-weight: 300;
    max-width: 80%;
    line-height: 1.2;
  }
  &__image {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    img {
      display: block;
      height: 100%;
      will-change: transform;
      transition: transform 0.25s linear;
    }
  }
  .owl-dots {
    text-align: center;
    margin: 0 auto;
  }
  .owl-dot {
    display: inline-block;
    text-align: center;
    margin: 0 9px;
    span {
      height: 8px;
      width: 8px;
      background-color: #9e9e9e;
      display: block;
      border-radius: 50%;
    }
  }
  .owl-dot.active {
    span {
      background-color: #212121;
    }
  }
}

.categories.off {
  display: flex;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1280px) {
  .categories__name {
    font-size: 18px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  .categories__name {
    font-size: 16px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
  .categories__name {
    font-size: 14px;
    top: 7px;
    left: 7px;
    line-height: 18px;
  }
  .categories__item--small,
  .categories__item--large {
    flex-basis: 50%;
  }
  .categories__item {
    flex-basis: 50% !important;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .categories {
    padding: 0px;
  }
  .categories.owl-carousel .owl-item img {
    width: auto;
  }
  .categories__item {
    padding-bottom: 54%;
  }
  .categories__name {
    font-size: 18px;
    top: 17px;
    left: 17px;
  }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  /* --- */
}
