@import '~Assets/_vars.scss';

.section-news {
  .news {
    &.off {
      display: flex;
      flex-wrap: wrap;
    }

    margin-top: 50px;
    margin-bottom: 50px;

    .post {
      width: calc(100% / 3);
      padding-right: 15px;
      padding-left: 15px;
      position: relative;

      &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        background-color: $border-color;
        height: 100%;
      }
    }
  }
}

.post {
  &__image-wrapper {
    height: auto;
    display: block;
    margin-bottom: 15px;
  }

  &__image {
    background-color: $gold;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 60%;
    width: auto;
  }

  &__title {
    font-weight: normal;
    font-family: $title-font;
    line-height: 1.3;
    font-size: 24px;
  }

  &__data {
    color: $grey;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__date {
    &--mobile {
      display: none;
    }
  }

  &__cat {
    color: $gold !important;
  }

  &__excerpt {
    font-size: 16px;
    color: $text;
  }

  a {
    color: $text;
    text-decoration-color: $gold;
  }
}

@media (max-width: 1107px) {
  .post {
    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .section-news {
    .news {
      margin-bottom: 25px;

      .post {
        width: 100%;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:first-child {
          padding-left: 15px;
        }

        &:last-child {
          padding-right: 15px;
        }
      }
    }
  }

  .post {
    &__date {
      &--mobile {
        display: block;
      }
    }
  }
}
