@import '~Assets/_vars.scss';

body.single {
  .widget-area {
    margin: 0;
    margin-top: 70px;
  }
  main {
    margin: 0;
  }

  article {
    .entry-header {
      text-align: left;
      display: flex;
      margin-bottom: 40px;

      & > .entry-date {
        display: none;

        .date {
          border: 2px solid $grey;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          overflow: hidden;
          min-width: 80px;
          text-align: center;
          margin-right: 30px;

          .mounth {
            text-transform: lowercase;
            background-color: $gold;
            color: #fff;
            padding: 3px 10px;
            font-weight: 300;
            width: 100%;
          }

          .day {
            text-transform: uppercase;
            font-size: 37px;
            font-weight: 300;
            line-height: 1.2;
            width: 100%;
          }
        }
      }

      h1 {
        &::after {
          content: none;
        }

        margin: 0;
      }

      .posted-on {
        margin-right: 5px;
        font-size: 20px;
        color: $grey;
        position: relative;

        &::after {
          content: ' |';
        }
      }

      .cat-links a {
        color: $gold;
        font-size: 20px;
      }
    }

    .post-thumbnail,
    .entry-content {
      margin-bottom: 50px;

      img {
        height: auto;
        display: block;
        max-width: 100%;
      }
    }

    .entry-content {
      margin-bottom: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $title-font;
      }

      hr {
        border: 0.5px solid $border-color;
      }

      iframe {
        width: 100%;
        height: 456px;
        @media (max-width: 768px) {
          height: 356px;
        }
        @media (max-width: 445px) {
          height: 300px;
        }
      }
    }

    .byline a {
      color: $grey;
      font-size: 20px;
    }

    .post-review-link {
      color: $gold;
      font-size: 20px;
    }

    .entry-footer {
      margin-bottom: 60px;
    }
  }

  .section--instagram {
    padding: 105px 0 !important;
  }
}

@media (min-width: 550px) {
  body.single article .entry-header {
    & > .entry-date {
      display: block;
    }

    .posted-on {
      display: none;
    }
  }
}
