@import '~Assets/_vars.scss';
.brands-single-info {
  &__link {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    a {
      color: $text;
      display: block;
      font-size: 20px;
      position: relative;
      padding-left: 40px;
      margin: 7px 0px;
      word-wrap: break-word;
      i {
        font-size: 25px;
        color: $accent;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        i {
          text-decoration: none;
        }
      }
    }
    &--left {
      a {
        padding-left: 0;
        padding-right: 40px;
        margin: 7px 0px;
        text-align: right;
        i {
          left: auto;
          right: 0;
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }
  &__logo {
    img {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
    }
  }
}

.brand-slider {
  margin: $slider-margin 0;
  opacity: 1;
  will-change: opacity;
  transition: opacity $tDuration linear;
  .brand-item {
    border: 1px solid transparent;
    border-radius: 6px;
    will-change: box-shadow;
    transition: box-shadow $tDuration linear, border-color $tDuration linear;
    margin: 0 auto;
    &:hover {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      border-color: #e6e6e6;
    }
  }
  &__storage {
    display: none;
  }
  .owl-stage {
    margin: 0 auto;
    .owl-item:last-child {
      margin-right: 0 !important;
    }
  }
  &:not(.owl-loaded) {
    opacity: 0 !important;
    display: block !important;
  }
}

.brands-single-info {
  &__logo {
    margin-bottom: 0;
    img {
      max-width: 600px;
    }
  }
  &__link {
    justify-content: space-between;
    max-width: 600px;
  }
}

.added__category {
  .section__title {
    @media (max-width: 767px) {
      &:after {
        width: 100px;
      }
    }
  }
  .col-6 {
    text-align: center;
  }
  a {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #0000001a;
      opacity: 0;
      transition: opacity 0.2s;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  h6 {
    color: #212121;
  }
  .row .col-6:nth-child(2) .section__title:after {
    background-color: #9f9f9f;
  }
}

@media (max-width: 767px) {
  .brands-single-info {
    &__logo {
      margin-bottom: 3%;
    }
    &__link {
      a {
        margin: 7px;
        font-size: 18px;
        i {
          font-size: 20px;
        }
      }
      &--left {
        a {
          padding-right: 34px;
        }
      }
      &--right {
        a {
          padding-left: 34px;
        }
      }
    }
  }
  .brand-slider {
    &.owl-theme .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
    }
  }
}

@media (max-width: 768px) {
  .brand-slider {
    margin: calc(#{$slider-margin} / 2) 0;
    .brand-item {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      border-color: #e6e6e6;
    }
  }
}
