@import '~Assets/_vars.scss';

.overlay-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3005;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  will-change: transform;
  transition: transform 0.25s ease;

  &-bg {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
  }

  &[data-show='true'] {
    transform: translateX(0) translateY(0);
  }

  &[data-show='false'] {
    transform: translateX(0) translateY(-100%);
  }

  &__account {
    background-color: $yellow;
  }

  &__soc-icons {
    li a {
      font-size: 18px;
      padding: 4px 19px;
    }
  }

  &__content {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);

    .woocommerce-wishlist {
      text-align: center;

      .wishlist_products_counter {
        display: inline-block;
        position: relative;
        margin-right: -20px;

        &::before {
          bottom: 12px;
          left: -15px;
          color: #fc0000;
        }
      }

      .wishlist_products_counter_number {
        color: #fc0000;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .callback {
      background-color: $grey;
    }
  }

  &__nav {
    position: relative;
    text-align: left;
    margin-top: 51px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.red {
        & > a {
          color: red !important;
        }
      }
      li.bold {
        & > a {
          font-weight: bold;
        }
      }
    }

    li.menu-item-has-children {
      &:nth-child(1) {
        background-color: #f3f3f3;
        .sub-menu .menu-item-has-children {
          background-color: #e6e2e2;
        }
      }

      > a {
        position: relative;
        border-bottom: 1px solid transparent;
        &::after {
          content: '\f107';
          display: block;
          font-family: 'FontAwesome' !important;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          font-size: 18px;
          font-weight: 900;
          will-change: transform;
          transition: transform 0.25s linear, color 0.25s linear;
        }

        &.rotate {
          border-bottom-color: #222;
          &::after {
            transform: translateY(-50%) rotate(90deg);
            color: #ffd600;
          }
        }
      }
    }
  }

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: $text;
    display: block;
    transition: 0.3s;

    img {
      width: 38px !important;
      height: 28px !important;
    }
  }

  .sub-menu {
    margin-left: 0;
    display: none;

    &.show {
      display: block;
    }
  }
  .work-time {
    margin-bottom: 3px;
  }
}

@media (min-width: 850px) {
  .overlay-menu {
    &__nav {
      margin-top: 86px;
    }
  }
}

@media (min-width: 1107px) {
  .overlay-menu {
    height: 100%;
    width: 350px;
    will-change: transform;
    transition: transform 0.25s ease;

    &[data-show='true'] {
      transform: translateX(0px) translateY(0);
    }

    &[data-show='false'] {
      transform: translateX(-350px) translateY(0);
    }

    &__nav {
      margin-top: 70px;
    }
  }
}
