@import '~Assets/_vars.scss';
.woocommerce-checkout {
  .input-text {
    margin-bottom: 0 !important;
  }
  #order_comments {
    padding: 5px 20px !important;
    border: 1px solid #cecece !important;
    height: 206px;
    @media (max-width: 767px) {
      height: 120px;
    }
  }
  #order_review_heading {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-top: 20px;
  }
  .wc_payment_methods {
    margin-top: 10px;
  }
}

.woocommerce form .form-row .input-checkbox {
  width: 15px;
  height: 15px;
}
.woocommerce .mc4wp-checkbox-wp-registration-form {
  input {
    margin-right: 10px;
  }
}
.woocommerce .mc4wp-checkbox-woocommerce{
  input{
    margin-right: 11px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
  }
}

.woocommerce ul#shipping_method .amount,
.woocommerce-cart
  .cart-collaterals
  .cart_totals
  .woocommerce-shipping-destination {
  display: none !important;
}

#billing_nova_poshta_region_field,
#billing_nova_poshta_city_field,
#billing_nova_poshta_warehouse_field{
  select.select{
    padding: 8px 20px;
  }
}

