@import '~Assets/_vars.scss';

.callback-block {
    position: relative;

    a {
        line-height: 47px;
        will-change: color;
        color: #fff;
        transition: color $tDuration;
        position: relative;

        &:hover {
            color: $gold;
        }
    }

    &-dropdown {
        position: absolute;
        top: 46px;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 20;
        color: $text;
        display: none;
        text-align: center;
        border-color: #e6e6e6;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .08);

        .work-time {
            font-size: 14px;
            line-height: 1.5;
            margin: 5px 0;
        }

        .callback {
            background-color: $gold;
            width: 100%;
            line-height: 35px;
            display: block;
            text-align: center;
            color: #fff;

            &:hover {
                background-color: darken($gold, 5%);
                color: #fff;
            }
        }
    }
}