@import "~Assets/_vars.scss";

body.error404 {
    main {
        margin: 0;
        padding: 0;
    }

    .not-found {
        padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        color: $text;

        &__title {
            font-size: 178px;
            font-family: $title-font;
            font-weight: bold;
            position: relative;
            // margin-bottom: 38px;

            &::after {
                content: '';
                width: 150px;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__text {
            font-size: 24px;
            font-weight: 300;
            max-width: 436px;
            margin-bottom: 47px;
        }

        .button {
            font-weight: 500;
            font-size: 16px;
            padding: 12px 25px;
        }

        &__soc {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;

            li {
                margin-right: 70px;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                color: $text;
                font-size: 24px;

                &:hover {
                    text-decoration: none;
                    color: $gold;
                }
            }
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}

@media (max-width: 445px) {
    body.error404 {
        .not-found {
            &__title {
                font-size: 130px;
            }

            .button {
                font-size: 12px;
            }

            &__soc {
                li {
                    margin-right: 40px;
                }
            }

            p {
                font-size: 14px;
            }
        }
    }
}