@import '~Assets/_vars.scss';

.section-brands {
  .section__text {
    text-align: center;
  }
  .brands {
    margin: $slider-margin 0;

    .brand {
      background-color: #fbf9fa;

      img {
        // max-height: 151px;
        width: auto;
        display: block;
        margin: 0 auto;
      }
    }

    .owl-item {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 161px;
    }

    .owl-nav {
      top: calc(50% - 37px);
    }

    .owl-dots {
      margin-top: 50px;
    }
  }
}

@media (max-width: 768px) {
  .section-brands {
    .section__text {
      text-align: left;
    }
    .brands {
      margin: calc(#{$slider-margin} / 2) 0;

      .owl-nav {
        top: calc(50% - 30px);

        button.owl-next,
        button.owl-prev {
          width: 30px;
          height: 30px;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
