@import '~Assets/_vars.scss';

.section--brands-all {
  text-align: center;
}

.section--brand-slider {
  .button.section__button {
    color: $text;
    line-height: 48px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    will-change: color;
    background-color: #fff;
    transition: color $tDuration linear, background-color $tDuration linear;
    cursor: pointer;
    border: 2px solid $gold;
    &:active,
    &:hover {
      text-decoration: none;
      background-color: $gold;
      color: #fff;
    }
  }
}

body .brands-all {
  font-family: $title-font;

  &--mobile {
    .brands-slider-col {
      text-align: center;
      margin: 0 auto;

      .brand-item {
        display: block;
        padding: 0 5px;

        img {
          margin: 0 auto;
          width: 100%;
          height: auto;
          display: block;
        }

        .brands-all__ttl {
          font-size: 14px;
          padding-top: 4%;
          padding-bottom: 7%;
        }
      }
    }
  }

  &--desktop {
    justify-content: space-around;
    flex-wrap: wrap;
    display: none;

    &.visible {
      display: flex;
    }

    .brand-item {
      flex: 16.666%;
      margin: 0 10px;
      max-width: 168px;
    }
  }

  .brand-item {
    display: block;
  }

  &__ttl {
    color: $text;
    font-size: 20px;
    text-align: center;
    display: block;
    padding-top: 8%;
    padding-bottom: 13%;
    transition: color $tDuration;
    line-height: 20px;
    font-weight: 300;

    &:hover {
      color: $gold;
    }
  }

  &__image {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .brands-all {
    &__ttl {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 15px;
    }

    &__image {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }

    .section--brand-slider {
      .button.section__button {
        font-size: 12px;
      }
    }
  }
}
