@import "~Assets/_vars.scss";

.woocommerce {
    #review_form #respond .form-submit input {
        width: auto;
        float: right;
        background-color: #cca300;
        border-radius: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 48px;
        padding: 0 70px;
        color: #fff;
        transition: background-color .25s;

        &:hover,
        &:focus {
            background-color: darken($gold, 5%);
        }

        &:active {
            background-color: darken($gold, 2%);
        }
    }

    #reviews {
        max-width: 972px;
        margin: 0 auto;

        #comments {
            position: relative;
            text-align: center;
            margin: 0 auto;

            h2 {
                font-size: $t-font-size;
                font-family: $title-font;
                line-height: 1;
                font-weight: normal;
                position: relative;
                display: inline-block;
                padding-bottom: $t-padding-bottom;
                margin-bottom: $t-margin-bottom;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50%;
                    height: 2px;
                    background-color: $gold;
                }
            }

            .comment_loadmore {
                width: auto;
                display: inline-block;
                border: 2px solid $gold;
                border-radius: 2px;
                font-size: 16px;
                font-weight: 600;
                line-height: 48px;
                padding: 0 70px;
                color: $text;
                cursor: pointer;
                transition: background-color .25s, color .25s;

                &.loading {
                    cursor: not-allowed;
                }

                &:hover,
                &:focus {
                    background-color: $gold;
                    color: #fff;
                }

                &:active {
                    background-color: darken($gold, 2%);
                    color: #fff;
                }
            }

            ol.commentlist {
                padding: 0;
                margin-bottom: 50px;

                li .comment-text {
                    margin: 0;
                    padding: 0;
                    border: none;
                    width: 100%;
                    border-left: 1px solid $border-color;
                    padding-left: 15px;
                }

                .comment-meta-wrapper {
                    min-width: 290px;
                    display: flex;
                    flex-direction: column-reverse;
                }

                .comment_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    text-align: initial;
                }

                .woocommerce-review__author {
                    font-size: 16px;
                    font-weight: 600;
                    color: $grey;
                }

                .woocommerce-review__published-date {
                    color: $grey;
                    font-size: 12px;
                }


            }
        }

        #comment {
            height: 136px;
            line-height: 1.5;
            padding-top: 20px;
        }

        .comment-respond {
            .comment-reply-title {
                font-family: $title-font;
                font-size: 24px;
                margin-bottom: 23px;
            }

            .comment-notes {
                color: $grey;
                font-size: 12px;
            }

            .comment-form-rating {
                float: left;
                color: $gold;

                a {
                    color: $gold;
                    font-size: 24px;
                }
            }
        }
    }

    .star-rating {
        color: $gold;
    }
}

@media (max-width: 768px) {
    .woocommerce {
        #review_form #respond .form-submit input {
            width: 100%;
            float: auto;
            font-size: 14px;
            font-weight: 600;
            line-height: 38px;
            padding: 0 70px;
        }

        #reviews {
            #comments {
                margin-bottom: 50px;

                h2 {
                    font-size: calc(#{$t-font-size} / 1.5);
                    font-family: $title-font;
                    padding-bottom: calc(#{$t-padding-bottom} / 1.5);
                    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
                    margin-top: 30px;
                }

                .comment_loadmore {
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 30px;
                }

                ol.commentlist {
                    padding: 0;
                    margin-bottom: 30px;

                    li .comment-text {
                        border: none;
                        border-bottom: 1px solid #DEDEDE;
                        padding-left: 0;
                    }

                    .comment-meta-wrapper {
                        min-width: 100%;
                        margin-bottom: 15px;
                    }

                    .comment_container {
                        flex-direction: column;
                    }

                    .woocommerce-review__author {
                        font-size: 14px;
                    }
                }
            }

            #comment {
                height: 136px;
                line-height: 1.5;
                padding-top: 20px;
            }

            .comment-respond {
                .comment-reply-title {
                    font-family: $title-font;
                    font-size: 24px;
                    margin-bottom: 23px;
                }

                .comment-notes {
                    color: $grey;
                    font-size: 12px;
                }

                .comment-form-rating {
                    float: left;
                    color: $gold;

                    a {
                        color: $gold;
                        font-size: 24px;
                    }
                }
            }
        }

        .star-rating {
            color: $gold;
        }
    }
}