@import '~Assets/_vars.scss';

.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3005;
    color: $text;
    background-color: #fff;
    padding: 10px 0;
    transform: translateY(-100%);
    overflow: hidden;
    will-change: transform;
    transition: transform .25s linear;
    display: none;
    border-color: #e6e6e6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);

    span {
        margin-right: 12px;
    }

    .wishlist_products_counter {
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1;

        .wishlist_products_counter_text {
            margin-right: 5px !important;
        }
    }

    .callback-block {
        &>a {

            color: $text;
        }
    }

    &.sticky {
        transform: translateY(0%);
        overflow: visible;
    }

    .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;

        img {
            height: 28px;
        }
    }

    a {
        color: $text;
    }
}

@media (min-width: 1260px) {
    .sticky-nav {
        display: block;
    }
}