@import '~Assets/_vars.scss';

#section-about {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 60.12%, rgba(0, 0, 0, 0) 105.96%);
  }
}

.section-about {
  color: #fff;

  .section__title:after {
    width: 138px;
    left: 0;
    transform: none;
  }

  .section__text {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
  }

  .section__button-wrapper {
    text-align: left;
  }

  .section__button {
    color: #fff;
  }
}

@media (max-width: 1106px) {
  #section-about {
    &::before {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 105.95%, rgba(0, 0, 0, 0) 105.96%);
    }
  }

  .section-about {
    text-align: center;
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
    .section__button-wrapper {
      text-align: center;
    }

    .section__text {
      margin-bottom: 25px;
      text-align: justify;
    }
  }
}
