@import '~Assets/_vars.scss';

.catalog {
  position: relative;

  &__otions {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px 10px;
    line-height: 1;
    font-size: 14px;
    border: 1px solid #dedede;
    transition: background-color $tDuration, padding $tDuration, top $tDuration;
    top: 0;
    &.fixed {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      margin: 0;
      padding: 8px 10px;
      background-color: #fff;
      z-index: 300;
    }

    .woocommerce-ordering,
    .woocommerce-ordering {
      float: none;
      margin: 0;
    }

    .filters {
      color: #757575;
      display: block;
    }
  }

  nav.woocommerce-pagination {
    ul.page-numbers {
      border: none;
      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      li {
        border: none;

        .page-numbers {
          border: 1px solid transparent;
          color: #212121;
          padding: 1em 1.1em !important;
          line-height: 1;
          font-size: 16px;
          transition: color 0.5s, background-color 0.5s, border-color 0.5s;
          &.current {
            background-color: transparent;
            color: #9e9e9e;
            border-color: #9e9e9e;
          }
          &:hover {
            background-color: rgba(#cca300, 0.13);
            color: #cca300;
          }
        }
      }
    }
  }
}

.woocommerce-ordering {
  select {
    margin: 0;
    width: auto;
    padding: 0 0 0 25px;
    @media (max-width: 768px) {
      font-size: 16px !important;
      transform: scale(0.889);
      transform-origin: center right;
    }
    font-size: 14px;
    line-height: 1;
    border: 1px solid transparent;
    height: auto;
    appearance: none;
    background: url('~Assets/images/order.svg') left no-repeat;
    text-align-last: right;
    color: #757575;

    option {
      direction: rtl;
    }

    &:focus {
      outline: none;
    }
  }
}

select::-ms-expand {
  display: none;
}

html .berocket_aapf_selected_area_hook {
  .berocket_aapf_widget_selected_filter {
    float: left;
    clear: none;
    span {
      display: none;
    }
    a {
      border: 0;
      padding: 2px 16px;
      background-color: #dedede;
      font-size: 14px;
      border-radius: 87px;
      display: block;
      margin: 2px 0;
      transition: background-color 0.5s;
      @include hover-supported() {
        text-decoration: none;
        color: #fff;
        background-color: darken($color: #dedede, $amount: 15);
      }
      &:active {
        text-decoration: none;
        color: #fff;
        background-color: darken($color: #dedede, $amount: 15);
      }
    }
  }
  .berocket_aapf_widget_selected_area {
    ul {
      margin-left: 0;
      padding-left: 0;
      li {
        float: left;
        margin-right: 1em;
      }
      .br_unselect_all {
        border: 0;
        padding: 2px 16px;
        background-color: rgba($color: #ff0000, $alpha: 0.1);
        color: #ff0000;
        font-size: 14px;
        border-radius: 87px;
        display: block;
        margin: 2px 0;
        transition: background-color 0.5s;
        @include hover-supported() {
          text-decoration: none;
          color: #fff;
          background-color: rgba($color: #ff0000, $alpha: 0.5);
        }
        &:active {
          text-decoration: none;
          color: #fff;
          background-color: rgba($color: #ff0000, $alpha: 0.5);
        }
      }
    }
  }
}

.tinv-wishlist
  .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list:before {
  color: $gold;
}

@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

.woocommerce .woocommerce-result-count {
  font-size: 14px;
  color: #757575;
  margin: 0 !important;
  display: none !important;
}

@media (min-width: 992px) {
  .catalog {
    .breadcrumbs,
    .filters {
      display: none;
    }
  }

  .catalog__otions {
    border-color: transparent;
    margin: 25px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce ul.products[class*='columns-'] li.product,
  .woocommerce-page ul.products[class*='columns-'] li.product {
    width: 48%;
    float: left;
    clear: none;
    margin: 0 1.66% 2.992em;
  }

  .woocommerce ul.products[class*='columns-'] li.product:nth-child(2n),
  .woocommerce-page ul.products[class*='columns-'] li.product:nth-child(2n) {
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  .woocommerce ul.products[class*='columns-'] li.product,
  .woocommerce-page ul.products[class*='columns-'] li.product {
    float: left;
    clear: both;
    margin: 0 0 2.992em;
  }

  .woocommerce ul.products[class*='columns-'] li.product:nth-child(2n),
  .woocommerce-page ul.products[class*='columns-'] li.product:nth-child(2n) {
    float: right;
  }
}
