@import '~Assets/_vars.scss';

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
  display: none;
}

.woocommerce {
  ul.products {
    li.product {
      position: relative;
      text-align: center;
      padding: 15px 15px 25px 15px;
      max-width: 216px;
      min-height: 323px;
      overflow: visible;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      will-change: border-color;
      transition: border-color $tDuration linear;

      a {
        display: block;
        color: $text;

        .product-item__sale-rate {
          opacity: 1;
          will-change: opacity;
          transition: opacity 0.25s;
          right: 0;
          top: 0;
        }
      }

      &:hover {
        & > a {
          overflow: hidden;
          .product-item__sale-rate {
            opacity: 0;
          }
        }

        .price,
        .onsale {
          opacity: 0;
        }

        .woocommerce-loop-product-hover {
          opacity: 1;
          pointer-events: all;
        }
      }

      .added_to_cart {
        border: 2px solid $gold;
        padding: 0;
        line-height: 1.5;
        font-weight: 600;
        font-size: 14px;
        transition: background-color 0.25s, color 0.25s;

        &:hover {
          color: #fff;
          background-color: $gold;
        }
      }

      .woocommerce-loop-product__link {
        &:hover {
          color: $gold;
        }
      }

      .woocommerce-loop-product__button-wrapper.mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px 0;

        .woocommerce-LoopProduct-link {
          display: none;
        }

        .tinvwl_add_to_wishlist_button {
          margin: 0;
          padding: 0;
        }

        .button {
          background-color: transparent;
          margin: 0;
          padding: 0;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .woocommerce-loop-product__title {
        font-size: 16px;
        font-weight: normal;
        min-height: 67px;
      }

      .woocommerce-loop-product-hover {
        position: absolute;
        top: 180px;
        left: -1px;
        right: -1px;
        overflow: hidden;
        display: block;
        padding: 0 15px 25px 15px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        border-top: 0;
        border-radius: 2px;
        opacity: 0;
        pointer-events: none;
        will-change: opacity;
        transition: opacity 0.25s;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          width: 100%;
        }
        // display: none;

        .product-item__sale-rate {
          font-size: 16px;
          color: #ed5413;
          font-weight: 700;
          text-align: center;
          position: static;
          background-color: transparent;
          padding: 0;
          padding-top: 15px;
          padding-bottom: 5px;
        }

        .woocommerce-loop-product__link {
          margin-top: 15px;
        }

        .product-item__sale-rate + .woocommerce-loop-product__link {
          margin-top: 0;
        }

        &__title {
          font-size: 18px;
          font-weight: 300;
          line-height: 1;
          margin: 0;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        &__price {
          color: $text;
          font-size: 22px;
          font-weight: 300;
          line-height: 1;
          margin-bottom: 10px;
          display: block;
          del {
            color: $grey;
            font-weight: 600;
            font-size: 14px;
          }

          ins {
            text-decoration: none;
            margin-top: 0;
          }
        }

        &__attributes {
          max-width: 100%;
          font-size: 13px;
          margin-bottom: 10px;
        }

        &__attribute {
          display: flex;
          justify-content: space-between;

          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:after {
              content: '..........................................';
            }
          }

          .value {
            flex-shrink: 0;
          }

          a {
            color: $gold;
            text-decoration: underline;
          }

          p {
            margin: 0;
          }
        }

        &__button-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;

          .button {
            margin: 0;
            background-color: transparent;
            border: 2px solid $gold;
            border-radius: 2px;
            font-size: 12px;
            color: $text;
            font-weight: 600;
            padding: 10px 5px;
            transition: background-color 0.25s, color 0.25s;

            &.loading {
              padding: 10px 5px;
            }

            &.added {
              display: none;
            }

            &:hover {
              background-color: $gold;
              color: #fff;
            }
          }

          a.tinvwl_add_to_wishlist_button,
          a.woocommerce-loop-product-hover__view {
            margin: 0;
            position: relative;
            width: 36px;
            height: 36px;
            min-width: 36px;
            vertical-align: sub;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            transform-origin: center;
            transition: transform 0.25s;
            @include hover-supported() {
              transform: scale(1.15) translateZ(0);
              backface-visibility: hidden;
            }
            &:active {
              transform: scale(1.15) translateZ(0);
              backface-visibility: hidden;
            }
          }
        }

        &__stock-status {
          font-weight: 600;
          font-size: 16px;
          line-height: 1;
          color: $gold;
          margin-bottom: 10px;
          &.instock {
            color: #52c10e;
          }
        }

        &__badges-wrapper {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          margin-bottom: 10px;
          .badge {
            font-size: 10px;
            font-weight: bold;
            color: #fff;
            border-radius: 11px;
            background-color: $grey;
            padding: 1px 7px;
            padding-right: 5px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 3px 0;

            &--new {
              background-color: #79bd44;
            }

            &--popular {
              background-color: #23a1e8;
            }

            &--sale {
              background-color: #ed5413;
            }

            &--promotion {
              background-color: #ed5413;
            }
          }
        }
      }

      .price {
        color: $text;
        opacity: 1;
        will-change: opacity;
        transition: opacity 0.25s;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 300;
        margin-bottom: 0;
        min-height: 32px;

        del {
          font-weight: 300;
          color: #9e9e9e;
          font-size: 14px;
          font-weight: 400;
          position: relative;
        }

        ins {
          font-weight: 300;
          text-decoration: none;
          margin-top: 0;
        }
      }

      .onsale {
        border-radius: 0;
        min-width: auto;
        min-height: auto;
        line-height: 1.5;
        top: 0;
        right: 0;
        margin: 0;
        background-color: $gold;
        opacity: 1;
        will-change: opacity;
        transition: opacity 0.25s;
        display: none !important;
      }
    }
  }
}

@media (min-width: 1290px) {
  .woocommerce {
    ul.products {
      li.product {
        .woocommerce-loop-product__button-wrapper.mobile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1290px) {
  .woocommerce {
    ul.products {
      li.product {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
        border-radius: 6px;

        .added_to_cart {
          display: none;
        }

        .woocommerce-loop-product__button-wrapper.mobile {
          .added {
            margin-right: 0;

            svg {
              display: none;
            }
          }
        }

        &:hover {
          & > a {
            position: relative;
            filter: blur(0px);
            overflow: hidden;

            img {
              transform: scale(1);
            }
          }

          .price,
          .onsale {
            opacity: 1;
          }

          .woocommerce-loop-product-hover {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 495px) {
  .woocommerce {
    ul.products {
      li.product {
        min-height: 368px;
        padding: 0px 0px 15px;

        a .product-item__sale-rate {
          top: 0;
          right: 0;
        }

        .product-item__vendor-code,
        .woocommerce-loop-product__title {
          font-size: 14px;
          line-height: 1.3;
          padding: 0 5px;
          min-height: 34px;
        }

        .price {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          justify-content: flex-end;

          del {
            font-size: 12px;
          }
        }

        .woocommerce-loop-product-hover {
          padding: 5px 5px 10px 5px;

          &__title {
            font-size: 16px;
            line-height: 1;
            padding: 0;
          }

          &__price {
            font-size: 20px;
            display: flex;
            flex-direction: column;

            del {
              font-weight: 300;
            }
          }

          &__vendor-code,
          &__stock-status {
            display: none;
          }

          &__badges-wrapper {
            font-size: 9px;
            letter-spacing: 1px;
          }

          &__button-wrapper {
            .button {
              font-size: 12px;
              font-weight: 400;
              width: 100%;
            }

            a.tinvwl_add_to_wishlist_button,
            a.woocommerce-loop-product-hover__view {
              width: 26px;
              height: 26px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 445px) {
  .woocommerce {
    ul.products {
      li.product {
        min-height: 351px;
      }
    }
  }
}

@media (max-width: 375px) {
  .woocommerce {
    ul.products {
      li.product {
        min-height: 291px;

        .woocommerce-loop-product-hover {
          &__vendor-code,
          &__attributes,
          &__stock-status,
          &__badges-wrapper {
            display: none;
          }

          &__button-wrapper {
            a.tinvwl_add_to_wishlist_button,
            a.woocommerce-loop-product-hover__view {
              display: none;
            }
          }
        }
      }
    }
  }
}
