@import '~Assets/_vars.scss';

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: 45%;
  margin-right: 10%;

  @media (max-width: 445px) {
    margin-bottom: 1em;
    border-bottom: 1px solid #d5d5d5;
  }
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 45%;

  @media (max-width: 445px) {
    margin-bottom: 0.5em;
  }
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
  width: 100%;
  margin-bottom: 75px;
  @media (max-width: 445px) {
    margin-bottom: 0;
  }
}
.woocommerce .summary .quantity {
  display: none !important;
}

.woocommerce .quantity {
  width: 54px;
  .qty {
    width: 100%;
    line-height: 44px;
    padding-left: 5px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 2.6em;
    }
  }
}

.tinv-wishlist.tinvwl-before-add-to-cart .tinvwl_add_to_wishlist_button {
  margin: 15px 0;
  @media (max-width: 445px) {
    margin: 5px 0;
  }
}

.woocommerce-product-gallery__image a {
  display: block;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $gold;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 70px;
  transition: background-color 0.25s;

  &:hover,
  &:focus {
    background-color: darken($gold, 5%);
  }

  &:active {
    background-color: darken($gold, 2%);
  }
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 1em !important;
  th,
  td {
    padding: 0 !important;
  }
}

.woocommerce div.product div.images .flex-control-thumbs {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    width: 20%;
    margin: 1em 0.5em;
    padding: 0;
    border: 2px solid #757575;

    transition: border-color 0.25s linear;
    &:hover {
      border-color: $gold;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    img {
      opacity: 1;
      transition: opacity 0.25s linear;

      &.flex-active {
        opacity: 0.3;
      }
    }
  }
}

.woocommerce span.onsale {
  background-color: #cca300;
  border-radius: 0;
  line-height: 1.5;
  margin: 0;
  min-height: auto;
  min-width: auto;
  opacity: 1;
  left: 0;
  top: 0;
}
.woocommerce div.product .summary .button.alt.get-price-button,
.woocommerce div.product .summary .button.alt.awooc-custom-order {
  text-align: center;
  width: 100%;
  padding: 0 2em;
}
.woocommerce div.product .summary .button {
  width: calc(50% - 5px);
  padding: 0;
  &:hover,
  &:focus {
    width: calc(50% - 5px);
    padding: 0;
  }
}
.woocommerce .button.alt.get-price-button {
  white-space: nowrap;
  width: auto;
  padding: 0 2em;
  margin-bottom: 12px;
  text-transform: initial;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  &::before,
  &::after {
    transition: border-color 0.25s, background-color 0.25s;
  }
  @include hover-supported() {
    &::after {
      background-color: $gold;
    }
    &::before {
      border-color: $gold;
    }
  }
  &:active {
    &::after {
      background-color: $gold;
    }
    &::before {
      border-color: $gold;
    }
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid $border-color;
}

body.woocommerce div.product {
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .tinvwl_add_to_wishlist_button {
    &::before {
      font-size: 23px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .product_title {
    font-family: $title-font;
    font-size: 32px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 32px;

    @media (max-width: 445px) {
      font-size: 20px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  p.stock {
    display: none;
  }

  .product_meta a {
    color: $text;
    text-decoration: underline;
  }

  .ts-single-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &.get-price-block {
      .get-price-schema {
        width: 45%;
        @media (max-width: 445px) {
          width: 100%;
        }
        .price {
          font-size: 23px;
        }
      }
    }
  }

  .price {
    width: 100%;
    font-size: 32px;
    font-weight: 300;
    color: #212121;
    position: relative;
    ins {
      text-decoration: none;
      margin-top: 18px;
      font-weight: 300;
    }

    del {
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 0;
      .woocommerce-Price-currencySymbol {
        display: none;
      }
    }
    .sale-rate {
      font-size: 16px;
      color: #ed5413;
      font-weight: bold;
      right: 0;
      position: absolute;
      top: 0;
    }

    .sale-delta {
      font-size: 12px;
      display: block;
      color: #757575;
    }
  }
  .woocommerce-variation-price {
    .price {
      color: #ed5413;
    }
  }

  .woocommerce-product-rating {
    color: $gold;
    width: 55%;

    .ts-guaranty {
      width: 100%;
      margin-top: 5px;
      line-height: 1.3;
      font-size: 14px;
      font-weight: 300;
      color: #757575;

      @media (max-width: 445px) {
        & > br {
          display: none;
        }
      }
    }

    .woocommerce-review-link {
      color: #757575;
      font-size: 12px;
      font-weight: 600;
      scroll-behavior: smooth;
      text-decoration: underline;
      &:hover {
        color: $gold;
      }
    }
  }

  .shop_attributes a[rel='tag'] {
    pointer-events: none;
    cursor: default;
    color: #212121;
  }

  .wc_quick_buy_button {
    background-color: #e5e5e5;
    border-radius: 0;
    border: 0;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    padding: 0;
    width: calc(50% - 5px);
    margin-left: 10px;
    transition: background-color 0.25s;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken(#e5e5e5, 5%);
    }

    &:active {
      background-color: darken(#e5e5e5, 2%);
    }
  }

  form.cart {
    margin-bottom: 0.5em;
  }

  .yith-similar-products,
  .related {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
    @media (max-width: 445px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 115px;
    }
    & > h2 {
      font-size: $t-font-size;
      font-family: $title-font;
      line-height: 1;
      font-weight: normal;
      position: relative;
      display: inline-block;
      padding-bottom: calc(#{$t-padding-bottom} / 1.2);
      margin-bottom: calc(#{$t-margin-bottom} / 1.5);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 2px;
        background-color: $gold;
      }
    }

    ul.products {
      min-height: auto !important;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
      }
      li.product {
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .woocommerce-single-product-hover__attributes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // max-width: 250px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;

    @media (max-width: 769px) {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid $border-color;
    }
  }

  @media (max-width: 769px) {
    .woocommerce
      div.product
      .product_title
      + .woocommerce-single-product-hover__attributes {
      display: none;
    }
  }

  .woocommerce-single-product-hover__link {
    display: none;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: $gold;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
  }

  .woocommerce-single-product-hover__attribute {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1;
    min-height: 32px;
    scroll-behavior: smooth;

    &.instock {
      .value {
        color: #52c10e;
      }
    }

    .title {
      width: 50%;
      text-transform: uppercase;
      color: $grey;
      font-weight: 300;
    }

    .value {
      width: 100%;
      color: $text;
    }

    a {
      pointer-events: none;
      cursor: default;
      color: #212121;
    }

    p {
      margin: 0;
    }
  }
}

@media (max-width: 1260px) {
  .woocommerce div.product .summary {
    .single_add_to_cart_button {
      width: 100%;
      margin-bottom: 12px;
      &:hover,
      &:focus {
        width: 100%;
      }
    }

    .wc_quick_buy_button {
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: 48px;
      padding: 0 40px;
      margin-left: 0px;
      &:hover,
      &:focus {
        width: 100%;
      }
    }
  }
}

@media (hover: none) {
  .woocommerce
    div.product
    div.images
    .woocommerce-product-gallery__wrapper
    .zoomImg {
    opacity: 0 !important;
  }
}

@media (max-width: 768px) {
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 100%;
    margin-right: 0%;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 100%;
  }
  body.woocommerce div.product {
    .ts-single-wrapper {
      flex-direction: column-reverse;
    }
    .woocommerce-tabs ul.tabs {
      margin: 0;
      padding: 0;

      li a {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 445px) {
  .single-product {
    .yith-similar-products,
    .related {
      h2 {
        font-size: 16px;
        margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
      }
    }
  }

  .woocommerce #respond input#submit.alt,
  .woocommerce #respond input#submit.alt.disabled,
  .woocommerce #respond input#submit.alt.disabled:hover,
  .woocommerce #respond input#submit.alt:disabled,
  .woocommerce #respond input#submit.alt:disabled:hover,
  .woocommerce #respond input#submit.alt:disabled[disabled],
  .woocommerce #respond input#submit.alt:disabled[disabled]:hover,
  .woocommerce a.button.alt,
  .woocommerce a.button.alt.disabled,
  .woocommerce a.button.alt.disabled:hover,
  .woocommerce a.button.alt:disabled,
  .woocommerce a.button.alt:disabled:hover,
  .woocommerce a.button.alt:disabled[disabled],
  .woocommerce a.button.alt:disabled[disabled]:hover,
  .woocommerce button.button.alt,
  .woocommerce button.button.alt.disabled,
  .woocommerce button.button.alt.disabled:hover,
  .woocommerce button.button.alt:disabled,
  .woocommerce button.button.alt:disabled:hover,
  .woocommerce button.button.alt:disabled[disabled],
  .woocommerce button.button.alt:disabled[disabled]:hover,
  .woocommerce input.button.alt,
  .woocommerce input.button.alt.disabled,
  .woocommerce input.button.alt.disabled:hover,
  .woocommerce input.button.alt:disabled,
  .woocommerce input.button.alt:disabled:hover,
  .woocommerce input.button.alt:disabled[disabled],
  .woocommerce input.button.alt:disabled[disabled]:hover {
    font-size: 12px;
    line-height: 3.5;
  }

  body.woocommerce div.product {
    .woocommerce-product-rating {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      &::before {
        content: none;
      }
      .star-rating {
        margin: 0.3em 0 0 0;
      }

      .ts-guaranty {
        margin-top: 15px;
      }
    }

    .ts-single-wrapper .price {
      font-size: 23px !important;
      text-align: center;

      ins {
        margin-top: 20px;
        font-weight: 300;
      }

      del {
        left: 35%;
        transform: translateX(-50%);
      }

      .sale-rate {
        right: 20%;
        transform: translateX(-50%);
      }
    }

    form.cart {
      margin-bottom: 0.5em;
      padding-bottom: 22px;
      border-bottom: 1px solid #d5d5d5;

      .button {
        font-size: 14px;
      }
    }
  }
}
