@import '~Assets/_vars.scss';

.woocommerce-bundle-section {
  margin: 0 auto;
  text-align: center;
  width: 100%;

  h2 {
    display: inline-block;
    font-family: $title-font;
    font-size: $t-font-size;
    font-weight: 400;
    line-height: 1;
    padding-bottom: calc(#{$t-padding-bottom} / 1.2);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
    position: relative;

    &::after {
      background-color: #cca300;
      bottom: 0;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 150px;
    }
  }
}

.woocommerce-bundle {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: 50px;
  margin-bottom: 2.992em;

  .woocommerce-bundle-products {
    display: flex;
    width: 70%;
    justify-content: space-around;
  }

  .product-item {
    position: relative;

    &::after {
      content: '\f067';
      font-family: FontAwesome, Roboto, sans-serif !important;
      font-style: normal;
      font-weight: 700;
      position: absolute;
      top: 50%;
      right: -65%;
      transform: translateY(-50%);
      font-size: 32px;
      color: $grey;
    }

    &:last-child::after {
      content: '\f52c';
    }
  }

  .woocommerce-bundle-price {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .product-price-wrapper {
      display: flex;
    }

    .amount {
      font-size: 32px;
      font-weight: 300;
    }

    .old-price {
      margin-right: 50px;
      font-size: 16px;
      color: $grey;
      font-weight: 300;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 768px) {
  .woocommerce-bundle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 30px 0;
    margin-bottom: 2.992em;

    .woocommerce-bundle-products {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
    }

    .product-item {
      position: relative;
      display: flex;
      max-width: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }

    .woocommerce-bundle-price {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .product-price-wrapper {
        display: flex;
      }

      .amount {
        font-size: 32px;
        font-weight: 300;
      }

      .old-price {
        margin-right: 50px;
        font-size: 16px;
        color: $grey;
        font-weight: 300;
        text-decoration: line-through;
      }

      a.button {
        padding: 0 30px;
        line-height: 38px;
      }
    }
  }
}

@media (max-width: 445px) {
  .woocommerce-bundle-section {
    h2 {
      font-size: calc(#{$t-font-size} / 1.5) !important;
      margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
    }
  }
}
