@import '~Assets/_vars.scss';

body #content {
  margin-top: 50px;
}

.mobile-header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3006;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;

    a {
      text-decoration: none;
      will-change: color;
      transition: color $tDuration;

      color: #fff;
      @include hover-supported() {
        color: $gold;
      }
      &:active {
        color: $gold;
      }
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;

    img {
      height: 28px;
    }
  }

  &__card-button,
  &__nav-button {
    span {
      position: relative;
    }
  }

  &__nav-button,
  &__search-button,
  &__phone-button,
  &__card-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__card-button {
    width: 60px;
    justify-content: flex-end;
  }

  .search-bar {
    width: 100%;
    padding: 0px 15px;
    display: none;
    .search-form {
      width: 100%;
      padding: 0 0 15px;
    }
  }
}

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
