@import '~Assets/_vars.scss';
.fw-accordion .fw-accordion-content > p {
  font-size: 18px;
  font-weight: 300;
}
.fw-accordion .fw-accordion-title {
  font-size: 18px;
  font-weight: 400;
  border-top: 1px solid #cecece;
}
.fw-accordion {
  border: 1px solid #cecece;
}
.fw-accordion .fw-accordion-title .ui-icon {
  background: url('~Assets/images/plus-accordion.png') no-repeat;
  top: 25px;
}
.fw-accordion .fw-accordion-title.ui-state-active .ui-icon {
  background: url('~Assets/images/minus-accordion.png') no-repeat;
  top: 29px;
}
