@import '~Assets/_vars.scss';

body .section--contact-from {
  padding: 65px 0 25px;
}

.contact-form {
  input[type='submit'] {
    float: right;
    color: #fff;
    background-color: $gold;
    padding: 0 60px;

    &:focus,
    &:hover,
    &:active {
      background-color: darken($gold, 5);
      border-color: darken($gold, 5);
    }
  }

  p {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
}

.contact-form-title {
  font-size: $t-font-size;
  font-family: $title-font;
  line-height: 1;
  font-weight: normal;
  position: relative;
  display: inline-block;
  padding-bottom: calc(#{$t-padding-bottom} / 1.2);
  margin-bottom: calc(#{$t-margin-bottom} / 1.5);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 2px;
    background-color: $gold;
  }
}

.contact-form-substitle {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}

.contact-from-soc-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $text;
      font-size: 18px;

      &:hover {
        color: $gold;
      }

      i {
        margin-right: 15px;
      }
    }
  }
}

.contact-form input[type='email'],
.contact-form input[type='text'],
.contact-form input[type='url'],
.contact-form textarea {
  width: 100% !important;
  max-width: 100% !important;
}

@media (max-width: 992px) {
  .contact-from-soc-links {
    margin-bottom: 35px;
  }
}

@media (max-width: 445px) {
  .contact-form-title {
    font-size: calc(#{$t-font-size} / 1.5) !important;
    margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
  }

  .contact-form-substitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contact-from-soc-links {
    li {
      margin-bottom: 15px;
    }
  }

  input[type='submit'] {
    padding: 0 30px;
    line-height: 34px;
  }
}
