@import '~Assets/_vars.scss';

body input[type='submit'],
body input.button,
body a.button {
  color: $text;
  line-height: 48px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  will-change: color;
  background-color: transparent;
  transition: color $tDuration linear, background-color $tDuration linear;
  cursor: pointer;
  border: 2px solid $gold;

  @include hover-supported() {
    text-decoration: none;
    background-color: $gold;
    color: #fff;
  }
  &:active {
    text-decoration: none;
    background-color: $gold;
    color: #fff;
  }
}

@media (max-width: 767px) {
  body input[type='submit'],
  body input.button,
  body a.button {
    font-size: 12px;
    line-height: 34px;
  }
}

.button--custom {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #cca300;
  color: #212121;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 48px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: color 0.25s linear, background-color 0.25s linear;
  will-change: color;
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 34px;
  }
  @media (max-width: 445px) {
    font-size: 0.89286rem;
    padding: 4px 27.5px;
  }
}

.button--custom i {
  margin-right: 10px;
}
.button--custom:hover {
  background-color: #cca300;
  color: #fff;
  text-decoration: none;
}
