@import '~Assets/_vars.scss';

.fw-container {
  .fw-special-title {
    font-family: $title-font;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 35px;

    &:empty {
      display: none;
    }
  }
  h2.fw-special-title,
  h1.fw-special-title {
    font-size: $t-font-size;
    font-family: $title-font;
    position: relative;
    display: inline-block;
    padding-bottom: $t-padding-bottom;
    margin-bottom: 30px;
    font-weight: normal;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 2px;
      background-color: $gold;
    }
  }
  ul,
  ol,
  p,
  .fw-special-subtitle {
    display: block;
    font-size: 20px;
    font-weight: 300;
    font-family: $default-font;
  }

  .fw-special-subtitle {
    font-weight: 300;
    margin-bottom: $t-margin-bottom;
  }
}

@media (max-width: 445px) {
  .fw-special-title,
  h2.fw-special-title,
  h1.fw-special-title {
    font-size: calc(#{$t-font-size} / 1.5) !important;
    margin-bottom: 25px;
  }

  ul,
  ol,
  p,
  .fw-special-subtitle {
    font-size: calc(#{$text-font-size} / 1.4) !important;
  }
}
