header {
  position: relative;

  &.landing-page-header {
    .desktop-header {
      background-color: #fff;
      &__wrapper {
        padding: 20px 0;
      }
      &__col {
        width: 100%;
      }
      &__logo img {
        height: 100px;
      }
    }
    .mobile-header__logo img {
      height: 40px;
    }
    .catalog-nav {
      border-top: 1px solid rgba($color: #000000, $alpha: 0.6);
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);
      background-color: #f9f9f9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &__menu {
        justify-content: center;
        li {
          margin: 0 30px;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
