@import '~Assets/_vars.scss';

body input[type='text'],
body input[type='tel'],
body input[type='email'],
body input[type='number'],
body input[type='search'],
body textarea {
  font-size: 18px;
  font-family: 'FontAwesome', 'Roboto', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 100%;
  line-height: 54px;
  padding: 0 0 0 20px;
  background: transparent;
  border: 2px solid #cecece;
  margin-bottom: 29px;

  &::placeholder {
    color: #9e9e9e;
  }

  &:focus {
    &::placeholder {
      color: #e7e7e7;
    }
  }

  &.wpcf7-not-valid {
    margin-bottom: 0;
  }
}
span.form-help-text {
  font-size: 13px;
}
span.wpcf7-not-valid-tip {
  margin-bottom: 3px;
}

@media (max-width: 445px) {
  body input[type='text'],
  body input[type='tel'],
  body input[type='email'],
  body input[type='number'],
  body input[type='search'],
  body textarea {
    font-size: 16px;
    line-height: 34px;
    padding: 0 0 0 15px;
    margin-bottom: 26px;

    &.wpcf7-not-valid {
      margin-bottom: 0;
    }
  }

  span.wpcf7-not-valid-tip {
    margin-bottom: 0;
  }
}
