@import "~Assets/_vars.scss";

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top: 2px solid;
    border-top-color: $gold;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
    color: $text;
    line-height: 48px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    will-change: color;
    background-color: transparent;
    transition: color $tDuration linear, background-color $tDuration linear;
    cursor: pointer;
    border: 2px solid $gold;

    &:hover {
        text-decoration: none;
        background-color: $gold;
        color: #fff;
    }

    &:focus {
        outline: none;
        text-decoration: none;
        background-color: $gold;
        color: #fff;
    }
}

@media (max-width: 767px) {

    .woocommerce .woocommerce-error .button,
    .woocommerce .woocommerce-info .button,
    .woocommerce .woocommerce-message .button,
    .woocommerce-page .woocommerce-error .button,
    .woocommerce-page .woocommerce-info .button,
    .woocommerce-page .woocommerce-message .button {
        font-size: 12px;
    }
}

@media (max-width: 575px) {

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        flex-direction: column-reverse;
        display: flex;

        &.woocommerce-cart-notice {
            display: block;
        }
    }

    .woocommerce .woocommerce-error .button,
    .woocommerce .woocommerce-info .button,
    .woocommerce .woocommerce-message .button,
    .woocommerce-page .woocommerce-error .button,
    .woocommerce-page .woocommerce-info .button,
    .woocommerce-page .woocommerce-message .button {
        margin-top: 10px;
        text-align: center;
    }
}