@import "~Assets/_vars.scss";

body {
    main {
        padding: calc(#{$s-padding-top} / 2) 0 calc(#{$s-padding-bottom} / 2) 0;
    }

    .entry-header {
        text-align: center;

        h1 {
            font-size: $t-font-size;
            font-family: $title-font;
            line-height: 1;
            font-weight: normal;
            position: relative;
            display: inline-block;
            padding-bottom: calc(#{$t-padding-bottom} / 1.2);
            margin-bottom: calc(#{$t-margin-bottom} / 1.5);

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 150px;
                height: 2px;
                background-color: $gold;
            }
        }
    }
}

@media (max-width: 445px) {
    body {
        main {
            padding: calc(#{$s-padding-top} / 4) 0;
        }

        .entry-header {
            text-align: center;

            h1 {
                font-size: calc(#{$t-font-size} / 1.5) !important;
                margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
            }
        }
    }
}