@import '~Assets/_vars.scss';

body {
  .white-popup-block {
    position: relative;
    background: #fff;
    padding: 30px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid $gold;
    p {
      margin: 0;
      padding: 0;
    }

    input {
      margin-bottom: 3px;
      margin-top: 12px;
    }
  }

  .mfp-bg {
    background: hsla(0, 0%, 100%, 0.5);
    opacity: 1;
    overflow: hidden;
    z-index: 3010;
  }

  .mfp-wrap {
    z-index: 3011;
  }

  .mfp-content {
    position: relative;

    .mfp-iframe-scaler {
      overflow: visible;
      position: relative;
    }
  }

  .mfp-iframe-holder .mfp-close {
    color: black;
    top: -55px;

    &:active {
      top: -55px;
    }
  }

  .mfp-close {
    font-size: 5em;
    top: -55px;
    right: 0;
    opacity: 1;

    &:active {
      top: -55px;
    }
  }

  #yith-wacp-popup {
    .yith-wacp-main {
      box-shadow: none;
      border: 2px solid $gold;
    }

    .yith-wacp-overlay {
      background: hsla(0, 0%, 100%, 0.5);
    }

    .yith-wacp-content {
      a.button {
        color: $text;
        line-height: 36px;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        will-change: color;
        background-color: transparent;
        transition: color $tDuration linear, background-color $tDuration linear;
        cursor: pointer;
        border: 2px solid $gold;

        &:hover {
          text-decoration: none;
          background-color: $gold;
          color: #fff;
        }
      }
    }
  }
}

.dgwt-wcas-sf-wrapp input[type='search'].dgwt-wcas-search-input {
  font-size: 2em;
  font-weight: bold;
  background: transparent;
  padding: 0 15px;
  border: none;
  border-bottom: 1px solid $gold;

  &:focus {
    box-shadow: none;
  }

  &::-webkit-input-placeholder {
    font-style: normal;
  }
}

.search-products-form {
  text-align: center;

  span {
    font-weight: 300;

    b {
      font-weight: bold;
    }
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
