@import '~Assets/_vars.scss';
#rb__info-social {
  padding: calc(#{$s-padding-top} / 2) 0 calc(#{$s-padding-bottom} / 2) 0;
  @media (max-width: 1107px) {
    padding: calc(#{$s-padding-top} / 2.5) 0 calc(#{$s-padding-bottom} / 2.5) 0;
  }
  @media (max-width: 445px) {
    padding: calc(#{$s-padding-top} / 4) 0;
  }
  padding-bottom: 0 !important;
  .fw-heading {
    margin: 0;
  }
  .fw-special-title {
    font-size: $t-font-size;
    font-family: $title-font;
    line-height: 1;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-bottom: calc(#{$t-padding-bottom} / 1.2);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
    @media (max-width: 445px) {
      font-size: calc(#{$t-font-size} / 1.5) !important;
      margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
    }
  }
}
#rb__faq {
  .fw-heading {
    margin: 0;
  }
  .fw-special-title {
    font-size: $t-font-size;
    font-family: $title-font;
    line-height: 1;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-bottom: calc(#{$t-padding-bottom} / 1.2);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
    @media (max-width: 445px) {
      font-size: calc(#{$t-font-size} / 1.5) !important;
      margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
    }
  }
}
