@import '~Assets/_vars.scss';

body .section {
  padding: calc(#{$s-padding-top} / 2) 0 calc(#{$s-padding-bottom} / 2) 0;

  &__title {
    font-size: $t-font-size;
    font-family: $title-font;
    line-height: 1;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-bottom: calc(#{$t-padding-bottom} / 1.2);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 2px;
      background-color: $gold;
    }
  }

  &__subtitle {
    display: block;
    font-size: calc(#{$t-font-size} / 1.8);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
  }

  &__text {
    font-size: $text-font-size;
    color: $text;
    font-weight: 300;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__button-wrapper {
    text-align: center;
  }

  button.section__button,
  input.section__button,
  a.section__button {
    font-size: $b-font-size;
    padding: $b-padding-y $b-padding-x;
  }
}

body.page-template-page-landing .section__text {
  text-align: justify;
}

@media (max-width: 1107px) {
  body .section {
    padding: calc(#{$s-padding-top} / 2.5) 0 calc(#{$s-padding-bottom} / 2.5) 0;
  }
}

@media (max-width: 445px) {
  body .section {
    padding: calc(#{$s-padding-top} / 4) 0;

    &__title {
      font-size: calc(#{$t-font-size} / 1.5) !important;
      margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
    }

    &__subtitle,
    &__text {
      font-size: calc(#{$text-font-size} / 1.4) !important;
    }

    button.section__button,
    input.section__button,
    a.section__button {
      font-size: calc(#{$text-font-size} / 1.4) !important;
      padding: calc(#{$b-padding-y} / 1.5) calc(#{$b-padding-x} / 2) !important;
    }
  }
}
