@import '~Assets/_vars.scss';

body {
  .owl-theme {
    position: relative;
  }

  .owl-theme .owl-dots .owl-dot {
    margin: 0;

    span {
      background: $grey;
      width: 13px;
      height: 13px;
      transition: all $tDuration linear;
    }
  }

  .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $darkBG;
  }

  .owl-nav {
    top: calc(100% / 2 - 53px);
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 0;
    height: 100%;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    background-color: rgba(0, 0, 0, 0.3);
    width: 43px;
    height: 43px;
    font-size: 22px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    transition: background-color $tDuration linear;

    &:hover {
      background-color: $accent;
    }
  }

  .owl-nav .owl-prev {
    left: 0;

    span {
      transform: translate(-68%, -58%);
    }
  }

  .owl-nav .owl-next {
    right: 0;

    span {
      transform: translate(-38%, -58%);
    }
  }

  .owl-prev span,
  .owl-next span {
    color: #fff;
    font-size: 18px;
    line-height: 1;
    position: absolute;
    top: 52%;
    left: 50%;
  }

  button:focus,
  button:active {
    outline: none;
  }

  .owl-carousel .owl-item {
    overflow: hidden;

    img {
      width: auto;
    }
  }
}

@media (min-width: 1320px) {
  body .owl-nav {
    width: 110%;
  }
}

@media (max-width: 445px) {
  body {
    .owl-theme .owl-dots .owl-dot span {
      width: 8px;
      height: 8px;
    }
  }
}
