@import "~Assets/_vars.scss";
td {
  border-style: solid;
  border-width: 0;
  padding: 14px 12px !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0 !important;
  border: none !important;
}

thead {
  th {
    background-color: transparent !important;
    border: none;
    color: $text;
    font-family: $title-font;
    padding: 14px 12px !important;
  }
}

.woocommerce table {
  margin: 0 !important;
  .quantity .qty {
    line-height: 28px;
    border: 2px solid rgba(0, 0, 0, .1);
    font-size: 16px;
  }
  .product-name a {
    font-family: $title-font;
    color: $text;
  }
}

.woocommerce table.shop_attributes td {
  padding-left: 15px;
}

.shop_attributes th {
  background-color: transparent;
  color: $text;
}

.yith-wcpb-product-bundled-items {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, .1);
  margin-bottom: 1.618em;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 !important;
  th {
    width: 150px;
    font-weight: 700;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    margin: 0;
    line-height: 1.5;
  }
  td {
    font-style: italic;
    padding: 15px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    margin: 0;
    line-height: 1.5;
  }
  tr:nth-child(even) td,
  tr:nth-child(even) th {
    background: rgba(0, 0, 0, .025);
  }
}