@import '~Assets/_vars.scss';

.woocommerce-product-boxes {
  width: 100%;
  position: relative;
  margin-bottom: 55px;
  @media (max-width: 445px) {
    margin-bottom: 25px;
  }
  .row {
    width: auto;
  }

  a.woocommerce-product-box {
    transition: border-color $tDuration;

    &:hover {
      border-color: darken($color: #dedede, $amount: 15);
    }
  }

  svg {
    position: absolute;
    top: 13px;
    right: 13px;
  }

  .woocommerce-product-box {
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 25px;
    font-size: 16px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    min-height: 187px;
    max-height: 190px;
    margin-bottom: 30px;
    line-height: 1.3;
    height: 100%;

    &:hover {
      text-decoration: none;
    }

    &--grey {
      background-color: rgba(158, 158, 158, 0.12);
    }

    &--callback {
      justify-content: space-between;

      .woocommerce-product-box__content {
        justify-content: space-between;
      }
    }

    &--phone {
      justify-content: space-between;
    }

    &--social {
      align-items: start;

      .woocommerce-product-box__content {
        width: 100%;
        align-items: center;
      }

      .woocommerce-product-box__title {
        text-align: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      width: 100%;
    }

    &__title {
      font-size: 16px;
      text-decoration: underline;
      color: $gold;
      width: 100%;
      &--grey {
        color: #757575;
        text-decoration: none;
      }
    }

    &__text {
      color: #757575;
      width: 100%;
    }

    &__image {
      width: auto !important;
      display: block;
      height: 135px;

      @media (max-width: 450px) {
        height: 85px;
      }
    }

    &__soc {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 0;
      width: 80%;
      display: flex;
      justify-content: space-around;

      li {
        display: inline-block;
        font-size: 27px;

        a {
          color: #757575;

          &:hover {
            color: $gold;
          }
        }
      }
    }

    &__phone {
      font-weight: 300;
      font-size: 20px;
      color: #757575;
      margin-top: 5px;
      display: block;

      &:hover,
      .fa-phone {
        color: $gold;
      }

      .fa-phone {
        margin-right: 15px;
      }
    }

    .button {
      margin-top: 5px;
      background-color: $gold;
      border-radius: 0;
      font-size: 14px;
      line-height: 1.5;
      width: 100% !important;
      padding: 0.618em 1em !important;
      color: #fff;
      display: block;
      text-align: center;

      &:hover,
      &:focus {
        background-color: darken($gold, 5%);
        color: #fff;
      }

      &:active {
        color: #fff;
        background-color: darken($gold, 2%);
      }
    }
  }
}

@media (max-width: 1440px) {
  .woocommerce-product-boxes {
    .woocommerce-product-box {
      font-size: 16px;

      &__title {
        font-size: 14px;
      }

      &__text {
        font-size: 12px;
        padding-right: 5px;
      }

      &__phone {
        font-size: 14px;
      }

      .button {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 990px) {
  .woocommerce-product-boxes {
    .row {
      margin-bottom: 20px;
    }

    .woocommerce-product-box {
      width: 100%;
      font-size: 16px;
      margin-bottom: 0px;

      &__title {
        font-size: 16px;
      }

      &__text {
        font-size: 14px;
      }

      &__phone {
        font-size: 14px;
      }

      .button {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 445px) {
  .woocommerce-product-boxes {
    .row {
      margin-bottom: 5px;
    }
  }
}
