@import '~Assets/_vars.scss';

.section--col2-info-dark {
  background-position: center center;
  background-size: cover;
  position: relative;
}

.col2-info-dark {
  font-size: 20px;
  color: #fff;
  font-weight: 200;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
  }

  h4 {
    font-family: $title-font;
    color: $accent;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 300;
  }

  p {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
  }
}

@media (max-width: 1107px) {
  .col2-info-dark {
    text-align: center;

    h4 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .col2-info-dark {
    font-size: 16px;

    h4 {
      font-size: 20px;
      text-decoration: none;
    }

    p {
      font-size: 16px;
    }
  }
}