.text-image-left {
  &__image {
    margin-left: 10%;

    img {
      width: 100%;
      box-shadow: 0 0 4px black;
    }
  }

  &__ttl {
    font-size: 24px;
    text-align: left;
    font-family: "Playfair Display", serif;
    padding-bottom: 10px;
  }

  &__txt {
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    font-weight: 200;
  }
}

@media (max-width: 1107px) {
  h6.text-image-left__ttl {
    padding-bottom: 0;
  }

  p.text-image-left__txt {
    line-height: normal;
  }

  div.text-image-left__image {
    margin: 0;
  }
}

@media (max-width: 767px) {
  h6.text-image-left__ttl {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
  }

  .text-image-left__txt {
    line-height: normal;
    text-align: center;
    font-size: 16px;
  }
}