.video {
  position: relative;
  width: 100%;
  padding-bottom: 32%;
  background-color: rgba($color: #000000, $alpha: 0.34);
  overflow: hidden;
  &:hover {
    .video__bg {
      transform: scale(1.05);
    }
  }
  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform 0.25s linear;
    z-index: -1;
    background-position: center center;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: block;
    svg {
      circle,
      path {
        transition: all 0.25s linear;
      }
    }
    svg:hover {
      circle {
        stroke: #ffd600;
      }
      path {
        fill: #ffd600;
      }
    }
  }
}

@media (max-width: 767px) {
  .video__content {
    svg {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 445px) {
  .video {
    padding-bottom: 50%;
  }
}
