@import '~Assets/_vars.scss';

@keyframes fadeIn {
  0% {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.sidebar-col {
  display: none;
}

.sidebar {
  border: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 30px;

  &--mobile {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0);
    animation: none;
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s;
    z-index: 3007;
    .filter__item--type-slider {
      display: none;
    }
  }
  .sidebar-content {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .widget.widget_berocket_aapf_single {
    border: 1px solid $border-color;
    border-bottom: 0;
  }

  .berocket_aapf_widget-wrapper {
    position: relative;
    &.open {
      .toogle-list-button {
        span {
          top: 22px;
          transform: rotate(-135deg);
        }
      }
    }

    .berocket_aapf_widget-title {
      padding: 15px;
    }

    .berocket_label_widgets {
      cursor: pointer;
      transition: color 0.25s;
      @include hover-supported() {
        color: $gold;
      }
      &:active {
        color: $gold;
      }

      @media (max-width: 485px) {
        font-size: 14px;
      }
    }

    .toogle-list-button {
      position: absolute;
      right: 0;
      top: 0;
      width: 57px;
      display: block;
      height: 100%;
      span {
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        top: 19px;
        right: 18px;
        border-bottom: 3px solid #b4b4b4;
        border-right: 3px solid #b4b4b4;
        transform: rotate(45deg);
        transition: transform 0.1s ease-in;
      }
    }
  }

  .hidden {
    display: none;
  }

  .berocket_widget_show_values {
    color: $gold;
    cursor: pointer;
    transition: color 0.25s;
    &:hover {
      color: darken($color: $gold, $amount: 15);
    }
    span {
      color: #9e9e9e;
      font-size: 130%;
      display: inline-block;
    }
  }

  &.visible {
    transform: translateX(0%);
    animation: fadeIn 0.5s linear 0.5s forwards;
  }

  &__title {
    font-family: $title-font;
    font-size: 24px;
    color: $text;
    font-weight: 400;
    padding-top: 10px;
    padding: 0 15px;
    padding-bottom: 15px;
    display: block;
    border: 1px solid $border-color;
    border-bottom: 0;

    @media (max-width: 445px) {
      font-size: 21px;
      padding: 5px 15px 15px;
    }
  }

  &__close-btn {
    font-size: 24px;
    line-height: 1;
    display: block;
    position: absolute;
    right: 10px;
    top: 12px;
    will-change: color;
    transition: color $tDuration;

    @include hover-supported() {
      color: $gold;
    }
    &:active {
      color: $gold;
    }
  }

  a {
    color: $text;
  }

  label a {
    line-height: 1.3;
  }
}

.woocommerce .sidebar-container {
  height: calc(100% - 110px);
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .sidebar {
    &__close-btn {
      display: none;
    }
  }

  .sidebar-col {
    display: block;
  }

  .sidebar--mobile {
    display: none;
  }
}

section.widget {
  border-bottom: 1px solid $border-color;

  &.ts_widget_recent_entries {
    li {
      margin-bottom: 15px;

      .post__data {
        margin-bottom: 0;
      }
    }
  }
  .widget-title {
    font-size: 14px;
    width: 100%;
    color: $grey;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .ui-widget-content {
    border: none;
    background: #dedede;
  }
  .ui-slider-horizontal {
    height: 2px;
  }
  .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-right,
  .ui-corner-br {
    border-radius: 0;
  }

  .pc-range-slider__control .ui-slider-range {
    background: $gold;
  }
  .pc-range-slider__wrapper {
    overflow: visible;
    height: 22px;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    background: #cca300;
    border: none;
    border-radius: 1em;
    cursor: ew-resize;
    height: 1.2em !important;
    top: -0.5em;
    width: 1.2em !important;
  }
  .filter__properties-item {
    color: #9e9e9e;
    .filter__checkgroup-check {
      transition: border-color 0.25s;
    }
    .filter__checkgroup-title {
      transition: color 0.25s;
    }
    @include hover-supported() {
      .filter__checkgroup-check {
        border: 1px solid $gold;
      }
      .filter__checkgroup-title {
        color: $gold;
      }
    }
    &:active {
      .filter__checkgroup-check {
        border: 1px solid $gold;
      }
      .filter__checkgroup-title {
        color: $gold;
      }
    }
  }

  .categories {
    display: block !important;
  }

  form {
    padding: 0 15px 20px 15px;
  }

  ul {
    padding: 0 15px 20px 15px;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        position: relative;

        &:hover {
          text-decoration: none;
          color: darken($color: $gold, $amount: 15);
        }
      }

      .count {
        color: $grey;
      }
    }
  }
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: $grey;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 2px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  width: 0.9em;
  height: 0.9em;
  border: none;
  top: -0.35em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background: $gold;
}

.woocommerce .ui-slider .ui-slider-range {
  z-index: auto;
}

.woocommerce .widget h2.widget-title.with-dropdown .widget-dropdown {
  top: 18px;
  right: 10px;
}

.woocommerce .berocket_aapf_widget input[type='checkbox'] + label {
  position: relative;

  a::before {
    content: '';
    display: inline-block;
    background-position: 0 0;
    background: url('~Assets/images/checkbox_sprite.png') no-repeat;
    height: 18px;
    margin-right: 10px;
    width: 18px;
  }
}
.woocommerce .berocket_aapf_count {
  color: #9e9e9e;
}
.woocommerce .berocket_aapf_widget input[type='checkbox']:checked + label {
  position: relative;

  a::before {
    background-position: 0 -18px;
  }
}
.woocommerce .sidebar-nav {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: auto;
  display: block;
  .berocket_single_filter_widget {
    .widget.widget_berocket_aapf_single {
      border: 0;
      border-bottom: 0 !important;
      .berocket_aapf_widget {
        margin: 10px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        @media (min-width: 991px) {
          margin: 0;
          margin-top: 15px;
          display: block;
        }
        .berocket_aapf_reset_button {
          -webkit-appearance: button;
          width: 45%;
          @media (min-width: 991px) {
            width: 100%;
          }
          background-color: #cca300;
          border-radius: 0;
          font-size: 16px;
          font-weight: 600;
          line-height: 48px;
          padding: 0 70px;
          transition: background-color 0.25s;
          font-size: 100%;
          margin: 0;
          line-height: 1;
          cursor: pointer;
          position: relative;
          text-decoration: none;
          overflow: visible;
          padding: 0.618em 0em;
          font-weight: 700;
          left: auto;
          color: #fff;
          display: inline-block;
          background-image: none;
          border: 0;
          box-shadow: none;
          text-shadow: none;
          @include hover-supported() {
            background-color: #b38f00;
          }
          &:active {
            background-color: #b38f00;
          }
        }
        .widget_update_button {
          text-align: center;
          width: 45%;
          background-color: #cca300;
          border-radius: 0;
          font-size: 16px;
          font-weight: 600;
          line-height: 48px;
          padding: 0 70px;
          transition: background-color 0.25s;
          font-size: 100%;
          line-height: 1;
          cursor: pointer;
          position: relative;
          text-decoration: none;
          overflow: visible;
          padding: 0.618em 0em;
          font-weight: 700;
          left: auto;
          color: #fff;
          display: inline-block;
          background-image: none;
          border: 0;
          box-shadow: none;
          text-shadow: none;
          @include hover-supported() {
            background-color: #b38f00;
          }
          &:active {
            background-color: #b38f00;
          }
        }
      }
    }
  }
}

.woocommerce
  .sidebar
  .berocket_single_filter_widget:last-child
  .widget.widget_berocket_aapf_single {
  border-bottom: 1px solid #d5d5d5;
}

@media (max-width: 991px) {
  .berocket_aapf_product_count_desc {
    display: none;
  }
}

.woocommerce .berocket_aapf_widget input[type='checkbox'] {
  position: absolute;
  left: -9999px;
}

.woocommerce .berocket_aapf_widget_loading {
  z-index: 3004 !important;

  .berocket_aapf_widget_loading_container {
    position: relative;
    top: 0;
    width: auto;
    height: 100%;
    margin: auto;
    z-index: 3004;
  }
  .berocket_aapf_widget_loading_left,
  .berocket_aapf_widget_loading_right,
  .berocket_aapf_widget_loading_top,
  .berocket_aapf_widget_loading_bottom {
    display: none;
  }
  .berocket_aapf_widget_loading_image {
    display: inline-block;
    float: none;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
  }
}

.berocket_aapf_widget li.slider span.left input,
.berocket_aapf_widget li.slider span.right input {
  border: 0;
  font-size: 16px;
  color: #212121;
  font-style: normal;
  width: 100%;
  text-align: right;
}
.berocket_aapf_widget li.slider span.left input {
  text-align: left;
}
.berocket_filter_slider.ui-widget-content .ui-slider-range,
.berocket_filter_price_slider.ui-widget-content .ui-slider-range {
  background: none repeat scroll 0 0 $gold;
}

.woocommerce .ps__thumb-y {
  width: 3px;
}
