@import '~Assets/_vars.scss';

.footer {
  background-color: $darkBG;
  flex: 0 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    li {
      display: inline-block;
      font-size: 16px;

      a {
        will-change: color;
        transition: color $tDuration;
        color: #fff;

        &:hover {
          color: $gold;
        }
      }
    }
  }

  &__logo {
    width: 100%;
    display: block;
    margin-bottom: 15px;

    img {
      height: 52px;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__soc-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: none;
    }
  }

  &__nav {
    li {
      a {
        text-decoration: underline;
        font-weight: 300;
      }
    }
  }

  &__cat-nav {
    margin-bottom: 35px !important;

    li {
      a {
        color: $accent;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }

  &__contacts {
    width: 100%;
    color: #fff;

    & > * {
      text-align: right;
    }
  }

  &__phone {
    display: block;
    will-change: color;
    transition: color $tDuration linear;
    margin-bottom: 25px;
    font-size: 14px;

    span {
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__location {
    display: block;
    will-change: color;
    transition: color $tDuration linear;
    margin-bottom: 25px;

    span {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__worktime {
    text-align: right;
  }
}

.payment-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 45px;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: auto;
      max-height: 32px;
    }
  }
}

.copyright {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;

  a {
    text-decoration: underline;
    font-size: 16px;
  }
}

@media (max-width: 1259px) {
  .footer {
    padding-top: 17px;
    padding-bottom: 24px;

    &__logo {
      img {
        height: 40px;
      }
    }

    &__soc-icons {
      max-width: 180px;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &__nav {
      display: none !important;
    }

    &__contacts {
      float: none;
      width: 100%;

      a {
        text-align: center;
      }
    }

    &__worktime {
      display: none;
    }
  }
}

@media (max-width: 850px) {
  .footer {
    &__cat-nav {
      flex-direction: column;

      li {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .payment-list {
    &__item {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
