@import "~Assets/_vars.scss";

.section--stores-location {
    .button {
        margin-top: 70px;
        display: inline-block;
        line-height: 1.5;
    }
}

.stores-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .store {
        max-width: 220px;
        margin: 0 auto;
        position: relative;
        padding: 5px 10px;
        text-align: center;
        border: 2px solid transparent;
        transition: border-color .25s;
        margin-bottom: 25px;

        &:hover {
            border-color: $gold;
        }

        &__address {
            text-align: center;
            margin-bottom: 15px;

            a {
                line-height: 1.3;
                font-size: 18px;
                color: $text;
                font-family: $title-font;
                font-weight: normal;

            }
        }

        &__phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin-bottom: 15px;

            &::before {
                -webkit-font-smoothing: antialiased;
                content: "\f095";
                display: inline-block;
                font-family: FontAwesome !important;
                font-size: 18px;
                font-style: normal;
                font-variant: normal;
                font-weight: 900;
                line-height: 1;
                position: absolute;
                bottom: 50%;
                transform: translateY(36%) rotate(90deg);
                left: 25px;
                color: $gold;
                text-rendering: auto;
            }
        }

        &__phone {
            font-size: 14px;
            color: $text;
        }

        &__work-time {
            font-size: 16px;
        }

        &__ts-map {
            height: 450px;
        }

    }
}

#stores-location-map {

    &.bordered {
        border: 2px solid #cca300;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    #stores-location-map {
        height: 319px !important;
    }

}

@media (max-width: 445px) {
    .section--stores-location {
        .button {
            margin-top: 30px;
        }
    }

}