.fw-heading {
	margin-bottom: 1em;
}

.fw-heading h4,
.fw-heading h5,
.fw-heading h6 {
	font-weight: bold;
}

.fw-heading.fw-heading-center {
	text-align: center;
}

.fw-heading.fw-heading-left {
	text-align: left;
}

.fw-heading.fw-heading-right {
	text-align: right;
}