@import '~Assets/_vars.scss';

.section-comments {
  position: relative;
  color: #fff;

  .comments-slider {
    &__product-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    &__autor {
      font-style: italic;
      font-size: 24px;
      font-weight: 300;
      width: 30%;
      text-align: right;
    }

    &__slide {
      margin: 0 15px;
    }

    &__product-raiting-wrapper {
      margin-right: -7px;
    }

    &__product-raiting {
      overflow: hidden;
      position: relative;
      height: 1em;
      line-height: 1;
      font-size: 1em;
      width: 6.3em;
      font-family: star;

      &::before {
        content: '\73 \73 \73 \73 \73';
        color: $gold;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
      }

      span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;

        &::before {
          content: '\53 \53 \53 \53 \53';
          top: 0;
          position: absolute;
          left: 0;
          color: $gold;
        }
      }
    }

    &__product-image {
      width: 66px !important;
      height: 66px;
      display: inline-block !important;
      margin-right: 15px;
      width: 30%;
    }

    &__comment-text {
      text-align: center;
      font-size: 20px;
      font-weight: 300;
    }

    // .owl-next span,
    // .owl-prev span {
    //   font-size: 40px;
    //   position: absolute;
    //   top: -10%;
    //   left: 35%;
    // }

    &.owl-theme .owl-dots .owl-dot span {
      background-color: $grey;
    }

    &.owl-theme .owl-dots .owl-dot.active span,
    &.owl-theme .owl-dots .owl-dot:hover span {
      background-color: #fff;
    }

    a {
      text-decoration: underline;
      width: 30%;
    }
  }
}

@media (max-width: 575px) {
  .section-comments {
    .comments-slider {
      &__product-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
      }

      &__autor {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }

      &__slide {
        margin: 0 15px;
      }

      &__product-raiting {
        overflow: hidden;
        position: relative;
        height: 1em;
        line-height: 1;
        font-size: 1em;
        width: 5.4em;
        font-family: star;
        margin-bottom: 15px;

        &::before {
          content: '\73\73\73\73\73';
          color: $gold;
          float: left;
          top: 0;
          left: 0;
          position: absolute;
        }

        span {
          overflow: hidden;
          float: left;
          top: 0;
          left: 0;
          position: absolute;
          padding-top: 1.5em;

          &::before {
            content: '\53\53\53\53\53';
            top: 0;
            position: absolute;
            left: 0;
          }
        }
      }

      &__product-image {
        width: 46px !important;
        height: 46px;
        display: inline-block !important;
        margin-right: 15px;
        width: 30%;
      }

      &__comment-text {
        font-size: 14px;
      }

      a {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
