.text-image-right {
  &__image {
    margin-left: 10%;

    img {
      width: 100%;
      box-shadow: 0 0 4px black;
    }
  }

  &__ttl {
    font-size: 24px;
    text-align: right;
    font-family: "Playfair Display", serif;
    padding-bottom: 10px;
  }

  &__txt {
    font-size: 20px;
    line-height: 35px;
    text-align: right;
    font-weight: 200;
  }
}

@media (max-width: 1107px) {
  h6.text-image-right__ttl {
    padding-bottom: 0;
  }

  p.text-image-right__txt {
    line-height: normal;
  }

  div.text-image-right__image {
    margin: 0;
  }
}

@media (max-width: 767px) {
  h6.text-image-right__ttl {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
  }

  .text-image-right__txt {
    line-height: normal;
    text-align: center;
    font-size: 16px;
  }
}