@import '~Assets/_vars.scss';

.section--feachers-line-block {
  text-align: center;
  padding-top: 0 !important;
  .section__text {
    margin-bottom: 40px;
    text-align: center;
  }
}

.feachers-line-list {
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
  margin-bottom: 40px;
  &__item {
    display: flex;
    align-items: center;
    padding: 0 0 0 35px;
    height: 100px;
    width: 100%;
    i {
      color: $gold;
      display: block;
      margin-right: 20px;
      font-size: 48px;
      height: auto;
      max-width: 100%;
      width: 100%;
      flex: auto;
    }

    span {
      max-width: 70px;
      width: 100%;
      height: 1px;
      background-color: #000;
    }

    &:last-child {
      padding: 0 35px;
      span {
        display: none;
      }
      .feachers-line-list__title {
        padding-right: 0;
      }
    }
  }
  &__title {
    font-family: $default-font;
    padding-right: 35px;
    max-width: 178px;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    flex: auto;
  }
}

@media (max-width: 991px) {
  .section--feachers-line-block {
    .feachers-line-list {
      flex-direction: column;
      .feachers-line-list__item {
        display: block;
        padding: 15px;
        height: auto;
        span {
          display: none;
        }
        .feachers-line-list__title {
          max-width: 100%;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 1106px) {
  .section--feachers-line-block {
    .section__text {
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .section--feachers-line-block {
    .feachers-line-list,
    .section__text {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 445px) {
}
