//fonts
$default-font: 'Roboto', sans-serif;
$title-font: 'Playfair Display', serif;
//colors
$accent: #cca300;
$text: #212121;
$yellow: #fff200;
$red: #fc0000;
$darkBG: #111111;
$gold: #cca300;
$grey: #9e9e9e;
$border-color: #d5d5d5;
//transiton duration
$tDuration: 0.25s;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$link-color: $gold;
$link-hover-color: $accent;
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);
$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1230px
);
$gutter: $grid-gutter-width;

$slider-margin: 50px;

// section var
$s-padding-top: 130px;
$s-padding-bottom: 150px;

// title var
$t-padding-bottom: 20px;
$t-margin-bottom: 45px;
$t-font-size: 2.25rem;

$text-font-size: 1.25rem;

//button var
$b-font-size: 1rem;
$b-padding-y: 12px;
$b-padding-x: 55px;

@mixin hover-supported {
  /* 
       * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
       * coarse: The primary input mechanism includes a pointing device of limited accuracy.
       */
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}
