@import '~Assets/_vars.scss';

.product-item {
  text-align: center;
  padding: 15px;
  max-width: 216px;
  min-height: 338px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  will-change: border-color;
  transition: border-color $tDuration linear;
  margin: 0 auto;

  &:hover {
    border-color: #909090;
  }

  &__image {
    display: block;
    margin-bottom: 5px;

    img {
      width: auto !important;
      margin: 0 auto;
      height: 185px;
    }
  }

  &__title {
    min-height: 60px;
    display: block;
    color: #000;
    will-change: color;
    transition: color $tDuration linear;
    text-transform: uppercase;
    line-height: 1.3;

    &:hover {
      text-decoration: none;
      color: $gold;
    }
  }

  &__sale-rate {
    font-weight: bold;
    color: #fff;
    position: absolute;
    background-color: #ed5413;
    right: 0;
    top: 0;
    padding: 5px 10px;
  }

  &__price {
    font-weight: 300;
    color: $text;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    line-height: 1.1;

    .semi {
      color: #52c10e;
      font-size: 14px;
      font-weight: normal;

      &.outofstock,
      &.old-price {
        color: $grey;
      }

      &.old-price {
        text-decoration: line-through;
      }
    }
  }
}

@media (max-width: 1107px) {
  .product-item {
    &__image {
      img {
        height: 200px;
      }
    }
  }
}

@media (max-width: 870px) {
  .product-item {
    min-height: 300px;

    &__image {
      img {
        height: 161px;
      }
    }
  }
}

@media (max-width: 445px) {
  .product-item {
    &__title {
      font-size: 14px;
    }
  }
}
@media (max-width: 425px) {
  .product-item {
    min-height: 260px;

    &__title {
      min-height: 50px;
    }

    &__image {
      img {
        height: 120px;
      }
    }

    &__price {
      font-size: 20px;
    }
  }
}
