@import '~Assets/_vars.scss';

.breadcrumbs {
  font-size: 13px !important;
  color: $grey;
  margin: 20px 0 36px !important;

  a {
    color: $text;
    line-height: 2;
  }

  .first-item i {
    margin-right: 10px;
  }

  .separator {
    margin: 0 10px;
  }
}
