@import '~Assets/_vars.scss';

.section--feachers-block {
  position: relative;
  text-align: center;

  .section__text {
    margin-bottom: 40px;
    text-align: center;
  }
}
#rb__features {
  .section--feachers-block {
    padding-top: 0 !important;
  }
}

.feachers-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 5%;

  &__icon-wrapper {
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__icon {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-family: $title-font;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }

  &__text {
    font-size: 18px;
    color: $grey;
    font-weight: 300;
  }

  &__item {
    width: calc(100% / 3);
    padding: 0 3%;

    &:nth-child(-n + 3) {
      padding: 0 3% 30px 3%;
    }
  }
}

@media (max-width: 1107px) {
  .feachers-list {
    padding: 0;
  }
}

@media (max-width: 1106px) {
  .section--feachers-block {
    .section__text {
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .section--feachers-block {
    .section__text {
      margin-bottom: 25px;
    }
  }

  .feachers-list {
    &__item {
      width: calc(100% / 2);

      &:nth-child(-n + 3) {
        padding: 0 3%;
      }
    }
  }
}

@media (max-width: 445px) {
  .feachers-list {
    &__title {
      min-height: 45px;
      font-size: 14px;
    }

    &__text {
      display: none;
    }

    &__icon {
      max-width: 70%;
    }
  }
}
