@import '~Assets/_vars.scss';

body.archive,
body.blog {
  .widget-area {
    position: relative;
  }

  .widget-area,
  main {
    margin: 0;
    padding: 0;
  }

  main {
    .recent-post {
      position: relative;
      height: 510px;
      margin-bottom: 60px;
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .post-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px 25px 37px 25px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;

        .post__excerpt,
        .post__title {
          color: #fff;
        }

        .post__header {
          display: flex;

          .post__heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

        .entry-date {
          display: block;

          .date {
            border: 2px solid $grey;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            overflow: hidden;
            min-width: 80px;
            text-align: center;
            margin-right: 15px;
            margin-bottom: 20px;

            .mounth {
              text-transform: lowercase;
              background-color: $gold;
              color: #fff;
              padding: 3px 10px;
              font-weight: 300;
              width: 100%;
            }

            .day {
              text-transform: uppercase;
              font-size: 37px;
              font-weight: 300;
              line-height: 1.2;
              width: 100%;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .post {
    margin-bottom: 40px;
  }

  .button#loadmore {
    margin-top: 50px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }

  .section--instagram {
    padding: 105px 0 !important;
  }
}

@media (max-width: 767px) {
  body.archive main .recent-post .post-wrapper .entry-date,
  body.blog main .recent-post .post-wrapper .entry-date {
    display: none;
  }
}
