@import '~Assets/_vars.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/utilities/_sizing.scss';
@import '~Assets/_fonts.scss';
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

::selection {
  background-color: $accent;
  color: #fff;
}

// /* width */

// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// /* Track */

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// /* Handle */

// ::-webkit-scrollbar-thumb {
//   background: $gold;
// }

// /* Handle on hover */

// ::-webkit-scrollbar-thumb:hover {
//   background: #111;
// }

code {
  color: $accent;
  background-color: $text;
  padding: 0.1em 0.3em;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: $text;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  input,
  textarea {
    border: $text 1px solid;
    outline: none;
  }
}

.site {
  flex: 1 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.noscroll {
  overflow-y: hidden !important;
}

.text-center {
  text-align: center;
}

.pswp__bg {
  background: rgba(0, 0, 0, 0.7) !important;
}

a {
  text-decoration-color: $gold;
  @include hover-supported() {
    color: $gold;
  }
  &:active {
    color: $gold;
  }
}

.woocommerce .star-rating::before {
  color: $grey;
}

.woocommerce-store-notice,
p.demo_store {
  top: auto !important;
  bottom: 0 !important;
  background-color: #111;
  color: $gold;
  position: fixed;
}

.entry-content {
  .gallery:after {
    content: '';
    display: table;
    clear: both;
  }

  img.aligncenter,
  div.aligncenter,
  figure.aligncenter,
  img.wp-post-image {
    display: block;
    margin: 1em auto;
  }
  img.alignright,
  div.alignright,
  figure.alignright {
    float: right;
    margin: 1em 0 1em 2em;
  }
  img.alignleft,
  div.alignleft,
  figure.alignleft,
  img.wp-post-image.attachment-thumb {
    float: left;
    margin: 1em 1em 2em 0;
  }
  figure {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
  }
  p img.alignright,
  p img.alignleft {
    margin-top: 0;
  }

  .gallery figure img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .gallery figure {
    float: left;
    margin: 0 2% 1em 0;
  }

  .gallery.gallery-columns-1 figure {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }

  .gallery.gallery-columns-3 figure {
    width: 32%;
  }
  .gallery.gallery-columns-3 figure:nth-of-type(3n + 3) {
    margin-right: 0;
  }
  .gallery.gallery-columns-3 figure:nth-of-type(3n + 4) {
    clear: left;
  }

  .gallery.gallery-columns-2 figure {
    width: 49%;
  }
  .gallery.gallery-columns-2 figure:nth-of-type(even) {
    margin-right: 0;
  }
  .gallery.gallery-columns-2 figure:nth-of-type(odd) {
    clear: left;
  }

  .gallery.gallery-columns-4 figure {
    width: 23.25%;
  }
  .gallery.gallery-columns-4 figure:nth-of-type(4n + 4) {
    margin-right: 0;
  }
  .gallery.gallery-columns-4 figure:nth-of-type(4n + 5) {
    clear: left;
  }

  .gallery.gallery-columns-5 figure {
    width: 18%;
  }
  .gallery.gallery-columns-5 figure:nth-of-type(5n + 5) {
    margin-right: 0;
  }
  .gallery.gallery-columns-5 figure:nth-of-type(5n + 6) {
    clear: left;
  }

  .gallery.gallery-columns-6 figure {
    width: 14.2%;
  }
  .gallery.gallery-columns-6 figure:nth-of-type(6n + 6) {
    margin-right: 0;
  }
  .gallery.gallery-columns-6 figure:nth-of-type(6n + 7) {
    clear: left;
  }

  .gallery.gallery-columns-7 figure {
    width: 12%;
  }
  .gallery.gallery-columns-7 figure:nth-of-type(7n + 7) {
    margin-right: 0;
  }
  .gallery.gallery-columns-7 figure:nth-of-type(7n + 8) {
    clear: left;
  }

  .gallery.gallery-columns-8 figure {
    width: 10.2%;
  }
  .gallery.gallery-columns-8 figure:nth-of-type(8n + 8) {
    margin-right: 0;
  }
  .gallery.gallery-columns-8 figure:nth-of-type(8n + 9) {
    clear: left;
  }

  .gallery.gallery-columns-9 figure {
    width: 8.85%;
  }
  .gallery.gallery-columns-9 figure:nth-of-type(9n + 9) {
    margin-right: 0;
  }
  .gallery.gallery-columns-9 figure:nth-of-type(9n + 10) {
    clear: left;
  }

  @media (max-width: 767px) {
    img.alignright,
    div.alignright,
    figure.alignright,
    img.alignleft,
    div.alignleft,
    figure.alignleft,
    img.wp-post-image.attachment-thumb {
      display: block;
      margin: 1em auto;
      float: none;
    }
    .gallery.gallery-columns-4 figure,
    .gallery.gallery-columns-5 figure,
    .gallery.gallery-columns-6 figure,
    .gallery.gallery-columns-7 figure,
    .gallery.gallery-columns-8 figure,
    .gallery.gallery-columns-9 figure {
      width: 100%;
      margin: 0 0 1em 0;
      float: none;
    }
  }
}
