@import '~Assets/_vars.scss';

.catalog-nav {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  ul {
    margin: 0;
    padding: 0;
  }

  &__menu {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 20;

    li {
      font-size: 16px;
      line-height: 47px;
      position: relative;
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $yellow;
        opacity: 0;
        will-change: opacity;
        transition: opacity $tDuration linear;
      }

      &:hover::after {
        opacity: 1;
      }

      &.column-2 {
        .sub-menu {
          columns: 2;
          padding-bottom: 7px;
        }
      }
      &.column-3 {
        .sub-menu {
          columns: 3;
          padding-bottom: 7px;
        }
      }

      &.red {
        & > a {
          color: red !important;
        }
      }

      &.silver {
        & > a {
          display: inline;
          padding: 10px 15px;
          background: linear-gradient(
            99.56deg,
            #c4c4c4 0%,
            rgba(196, 196, 196, 0.04) 50.68%,
            #c4c4c4 99.14%
          );
          border-radius: 1px;
        }
      }

      a {
        font-weight: bold;
        display: block;
        will-change: color;
        transition: color $tDuration linear;
        text-decoration: none;
        color: $text;
        white-space: nowrap;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        font-size: 13px;

        img {
          margin-top: -3px;
          width: 38px !important;
          height: 28px !important;
        }
      }

      &:hover > .sub-menu {
        display: block;
      }
    }
    & > li:nth-child(6),
    & > li:nth-child(7),
    & > li:nth-child(8) {
      .sub-menu {
        left: -330px;
      }
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 22;
  }
}

.catalog-nav__menu > li > .sub-menu {
  left: 0;
  top: 100%;
  width: 425px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  li {
    will-change: background-color;
    transition: background-color $tDuration linear;
    padding: 7px;
    margin: 0;
    display: block;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      &::after {
        content: none;
      }

      & > .sub-menu {
        width: auto;
      }
    }

    a {
      font-weight: normal;
    }

    &.menu-item-has-children {
      position: relative;

      &::before {
        content: '\f054';
        font-family: 'FontAwesome', 'Roboto', sans-serif !important;
        position: absolute;
        right: 15px;
        color: #757575;
        bottom: 5px;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
      }
    }

    > .sub-menu {
      background-color: #e0e0e0;
      li {
        display: block;
        width: 100%;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .catalog-nav {
    &__phone,
    &__langs,
    &__account,
    &__soc-icons {
      font-size: 12px;
    }
  }
}
