@import '~Assets/_vars.scss';

.section--stores-location {
  padding-top: 0 !important;
  .button {
    margin-top: 45px;
    display: inline-block;
    line-height: 1.5;
  }
}

.stores-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .store {
    max-width: 220px;
    margin: 0 auto;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid transparent;
    transition: border-color 0.25s;
    margin-bottom: 25px;

    &:hover {
      border-color: $gold;
    }

    &__name {
      text-align: center;
      margin-bottom: 15px;

      a {
        line-height: 1.3;
        font-size: 18px;
        color: $text !important;
        font-family: $title-font;
        font-weight: bold;
      }
    }

    &__address {
      text-align: center;
      font-size: 16px;
      line-height: 1.3;
      color: $text !important;
      font-weight: normal;
      min-height: 105px;
      margin-bottom: 15px;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-bottom: 15px;
    }

    &__phone {
      font-size: 14px;
      color: $text;
      display: block;
      position: relative;
    }

    &__email {
      font-size: 14px;
      color: $text;
      display: block;
      position: relative;
    }

    &__work-time {
      font-size: 16px;
    }

    &__ts-map {
      height: 450px;
    }
  }
}

#stores-location-map {
  &.bordered {
    border: 2px solid #cca300;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  #stores-location-map {
    height: 319px !important;
  }
}

@media (max-width: 445px) {
  .section--stores-location {
    .button {
      margin-top: 30px;
    }
  }
}

@media (max-width: 444px) {
  .stores-location {
    .store {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      position: relative;
      padding: 5px 10px;
      text-align: center;
      border: 2px solid $gold;
      margin-bottom: 0;
      background-color: rgba(196, 196, 196, 0.09);

      &__phones {
        &::before {
          right: 55%;
        }
      }
    }
  }
}

#rb__stores-lacation {
  padding: calc(#{$s-padding-top} / 2) 0 calc(#{$s-padding-bottom} / 2) 0;
  @media (max-width: 1107px) {
    padding: calc(#{$s-padding-top} / 2.5) 0 calc(#{$s-padding-bottom} / 2.5) 0;
  }
  @media (max-width: 445px) {
    padding: calc(#{$s-padding-top} / 4) 0;
  }
  padding-bottom: 0 !important;
  .section--stores-location {
    padding: 0 !important;
  }
  .fw-heading {
    margin: 0;
  }
  .fw-special-title {
    font-size: $t-font-size;
    font-family: $title-font;
    line-height: 1;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-bottom: calc(#{$t-padding-bottom} / 1.2);
    margin-bottom: calc(#{$t-margin-bottom} / 1.5);
    @media (max-width: 445px) {
      font-size: calc(#{$t-font-size} / 1.5) !important;
      margin-bottom: calc(#{$t-margin-bottom} / 2) !important;
    }
  }
}
