@import '~Assets/_vars.scss';
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
  float: none;
}

body.woocommerce-cart {
  .shop_table a {
    color: $text;
  }

  .ywpar-button-message {
    text-decoration: underline !important;
    text-decoration-color: #ed5413 !important;
    transition: color 0.5s;
    font-weight: bold;
    color: #ed5413;
    @include hover-supported() {
      color: #ed5413;
    }
    &:active {
      color: #ed5413;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 6px;
    .button {
      text-transform: uppercase;
      font-weight: 400 !important;
    }
    .coupon {
      display: flex;
      flex-direction: column;
      #coupon_code {
        font-size: 16px;
        line-height: 47px;
        margin-bottom: 5px;
        padding: 0 0 0 14px;
      }
    }
  }
  .cart-empty {
    border-top: 2px solid #cca300;
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    &:before {
      font-family: WooCommerce;
      content: '\e028';
      display: inline-block;
      position: absolute;
      top: 1em;
      left: 1.5em;
    }
  }
  .return-to-shop {
    text-align: center;
    a.button {
      font-size: 1rem;
      padding: 15px 55px;
      border-radius: 0;
    }
  }
}
.woocommerce ul#shipping_method li {
  font-size: 16px;
}
.woocommerce .cart_totals {
  float: none !important;
  margin-top: 3%;
  border-top: 1px solid rgb(33, 33, 33);
  padding-top: 1%;
  l h2 {
    font-family: $title-font;
  }
  th {
    padding-left: 0 !important;
  }
  .checkout-button {
    font-weight: 400 !important;
  }
}

@media (max-width: 768px) {
  body.woocommerce-cart {
    .actions {
      align-items: stretch;
      flex-direction: column;
      .button {
        font-size: 12px !important;
      }
      .coupon {
        display: flex;
        flex-direction: column;
        #coupon_code {
          font-size: 16px;
          margin-top: 2px;
        }
      }
    }
  }
  .woocommerce .cart_totals {
    .checkout-button {
      font-size: 12px !important;
    }
    .woocommerce-shipping-totals.shipping {
      td:before {
        margin: 0 0 6px 0;
        display: block;
        text-align: left;
        width: 100%;
      }
      ul#shipping_method {
        text-align: left;
      }
    }
  }
}
