@import '~Assets/_vars.scss';

.top-line {
  background-color: #000000;

  &__phone {
    line-height: 47px;
    transition: color $tDuration linear;
    position: relative;

    &:hover {
      color: $gold;
    }

    &-dropdown {
      position: absolute;
      top: 46px;
      left: 0;
      background-color: #fff;
      width: 100%;
      z-index: 20;
      padding: 5px;
      color: $text;
      display: none;

      .callback {
        background-color: $text;
        width: 100%;
        padding: 0 5px;
        display: block;
        text-align: center;
      }
    }
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;

    li {
      display: inline-block;
      font-size: 16px;
      line-height: 47px;

      a {
        transition: color $tDuration;
        text-decoration: none;
        color: #fff;

        &:hover {
          color: $gold;
        }
      }
    }
  }

  &__nav {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    li {
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $yellow;
        opacity: 0;
        will-change: opacity;
        transition: opacity $tDuration linear;
      }

      &:hover::after {
        opacity: 1;
      }

      a {
        display: block;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  &__langs li,
  &__soc-icons li {
    margin-right: 10px;
  }

  &__langs {
    li {
      position: relative;

      &.active {
        a {
          color: $accent;
        }
      }

      &:first-child::after {
        content: '|';
        color: $link-color;
        position: absolute;
        right: -30%;
        top: 0;
      }
    }
  }

  &__account {
    text-decoration: underline;
    color: #fff;

    &:hover {
      color: $gold;
    }
  }
}

@media (max-width: 1350px) {
  .top-line {

    & ul li,
    &__phone,
    &__langs,
    &__langs li,
    &__soc-icons li,
    &__account,
    &__soc-icons {
      font-size: 12px;
    }
  }
}

@media (min-width: 1350px) {
  .top-line {

    & ul li,
    &__phone,
    &__langs,
    &__langs li,
    &__soc-icons li,
    &__account,
    &__soc-icons {
      font-size: 14px;
    }
  }
}